@charset "UTF-8";
/*
* Creat : Madive 손상만
* Creat Date : 2017-07-10
* Last Update :2017-07-20
* Modify : 김미나
* Ver : 1.05
*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, p, iframe, figure { margin: 0; padding: 0; font-size: inherit; word-break: keep-all; word-break: break-word; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

header, hgroup, footer, section, article, aside, nav, canvas, figure, figcaption { display: block; }

table { font-size: inherit; border-collapse: collapse; border-spacing: 0; table-layout: fixed; }

th, td { word-wrap: break-word; word-break: break-all; font-weight: normal; }

fieldset, iframe { border: 0; vertical-align: top; }

img { border: 0; font-size: 0; vertical-align: top; }

li, dd { list-style: none; word-break: keep-all; word-break: break-word; }

hr { display: none; }

strong { font-weight: 700; }

caption, figcaption { overflow: hidden; width: 100%; height: 1px; font-size: 0; line-height: 0; text-indent: -9999px; margin-top: -1px; }

legend { display: block; position: absolute; left: -9999px; text-indent: 9999px; width: 0; height: 0; overflow: hidden; font-size: 0; line-height: 0; white-space: nowrap; }

button { padding: 0; border: 0; cursor: pointer; background: none; vertical-align: middle; appearance: none; moz-appearance: none; font-family: "segoe ui", "malgun gothic", "맑은 고딕", sans-serif; color: #666; letter-spacing: -1px; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; }

a { color: #666; text-decoration: none; }
a:hover, a:hover { text-decoration: none; }

em, i { font-style: normal; }

select { -webkit-appearance: none; -moz-appearance: none; appearance: none; color: #666; vertical-align: middle; border-radius: 0; }
select:disabled { background-color: #f2f2f2; color: #999; }

input { margin: 0; padding: 0; font-size: inherit; color: #666; line-height: 17px; vertical-align: top; -webkit-border-radius: 0; }
input[type="text"], input[type="password"], input[type="tel"] { width: 350px; height: 34px; line-height: 34px; box-sizing: border-box; padding-left: 10px; border: none; -webkit-appearance: none; }
input[type="text"]:focus, input[type="password"]:focus, input[type="tel"]:focus { border: 2px solid #7c9dbc; }
input[type="text"]:disabled, input[type="password"]:disabled, input[type="tel"]:disabled { background-color: #f2f2f2; color: #999; }
input[type="radio"] { width: 17px; height: 17px; vertical-align: -1px; }
input[type="checkbox"] { width: 13px; height: 13px; vertical-align: -1px; }

textarea { -webkit-appearance: none; -webkit-border-radius: 0; border: 1px solid #ccc; color: #666; background: #fff; padding: 15px; font-size: 15px; width: 100%; box-sizing: border-box; }

body { font-style: normal; font-size: 13px; font-family: "segoe ui", "malgun gothic", "맑은 고딕", sans-serif; color: #666; background: #fff; letter-spacing: -1.0px; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

/* 요소 숨김 */
.blind { display: block; position: absolute; width: 0; height: 0; border: 0; overflow: hidden; font-size: 0; line-height: 0; white-space: nowrap; }

/* Interval Type */
.interval0 { margin-top: 0px !important; }

.interval1 { margin-top: 10px !important; }

.interval2 { margin-top: 20px !important; }

.interval3 { margin-top: 30px !important; }

.interval4 { margin-top: 40px !important; }

.interval5 { margin-top: 50px !important; }

/* Align type */
.fL { float: left !important; }

.fR { float: right !important; }

.tL { text-align: left !important; }

.tC { text-align: center !important; }

.tR { text-align: right !important; }

.vT { vertical-align: top !important; }

.vM { vertical-align: middle !important; }

.vB { vertical-align: bottom !important; }

.vN { vertical-align: 0 !important; }

/* 폼요소 너비 */
.widAll { width: 100%; }

.wid50 { width: 50px; }

.wid600 { width: 600px; }

.wid510 { width: 510px; }

.selectBox { display: inline-block; }
.selectBox .designSelect { position: relative; background: #fff; }
.selectBox .designSelect button { border: 1px solid #bcc5d4; padding: 0 47px 0 20px; width: 100%; height: 34px; background: url(/resource/img/bg_select.png) no-repeat right center; line-height: 34px; box-sizing: border-box; text-align: left; font-size: 14px; color: #666; }
.selectBox ul { display: none; border: none; background: #fff; border: 1px solid #ccc; position: absolute; left: 0; box-sizing: border-box; width: 100%; z-index: 1; }
.selectBox ul li:first-child > a { border-top: none; }
.selectBox ul li a { display: block; margin: 0 20px; font-size: 16px; color: #666; height: 40px; line-height: 40px; border-top: 1px solid #ccc; }
.selectBox ul li a:hover, .selectBox ul li a:focus { color: #7c9dbc; }

/* 임시 */
.guideTitle { font-size: 18px; font-weight: 700; margin: 50px 0 20px; background: #eee; height: 30px; line-height: 30px; }

.guideTitleSmall { font-size: 14px; margin: 30px 0 20px; }

/* layout */
#wrap { width: 100%; min-width: 1600px; margin: auto; }

#header { height: 99px; background: #404652; border-bottom: 2px solid #d75605; }
#header > div { width: 1600px; margin: auto; height: 100%; }
#header .utill { position: relative; padding-top: 15px; }
#header .utill > h1 { width: 226px; height: 32px; }
#header .utill > h1 > a { display: block; height: 32px; }
#header .utill > ul { position: absolute; right: 0; top: 20px; }
#header .utill > ul .user { padding-left: 35px; background: url(/resource/img/bg_user.png) no-repeat left center; color: #c8ceda; }
#header .utill > ul > li { display: inline-block; height: 27px; font-size: 12px; color: #c8ceda; line-height: 27px; }
#header .utill > ul > li a { position: relative; display: inline-block; font-size: 12px; color: #c8ceda; }
#header .utill > ul > li a:hover, #header .utill > ul > li a:focus { color: #96c7f4; }
#header .utill > ul > li:before { content: ""; display: inline-block; width: 1px; height: 11px; background: #c8ceda; margin: 0 11px; }
#header .utill > ul > li:first-child:before { display: none; }

#gnb > ul { display: inline-block; vertical-align: top; }
#gnb > ul > li { position: relative; float: left; }
#gnb > ul > li:first-child > a { padding-left: 0; }
#gnb > ul > li:last-child > a { padding-right: 0; }
#gnb > ul > li.on > a { color: #96c7f4; }
#gnb > ul > li > a { display: inline-block; padding: 15px; font-size: 18px; color: #c8ceda; height: 24px; }
#gnb > ul > li > ul { display: none; background: #fff; border: 1px solid #6a9fd1; position: absolute; left: 0; top: 38px; box-sizing: border-box; z-index: 1; }
#gnb > ul > li > ul > li { position: relative; }
#gnb > ul > li > ul > li:first-child > a { border-top: none; }
#gnb > ul > li > ul > li > a { display: block; min-width: 195px; padding: 8px 28px 8px 10px; font-size: 16px; color: #666; line-height: 24px; box-sizing: border-box; border-top: 1px solid #6a9ed0; }
#gnb > ul > li > ul > li > a:hover, #gnb > ul > li > ul > li > a:focus { color: #96c7f4; }
#gnb > ul > li > ul > li.depth > a { background: #fff url(/resource/img/bg_gnb_arrow.png) no-repeat right center; }
#gnb > ul > li > ul > li.depth > a:hover, #gnb > ul > li > ul > li.depth > a:focus { background: #6a9fd1 url(/resource/img/bg_gnb_arrow_over.png) no-repeat right center; color: #fff; }
#gnb > ul > li > ul > li.depth.on > ul { display: block; }
#gnb > ul > li > ul > li.depth.on > a { color: #fff; background: #6a9fd1 url(/resource/img/bg_gnb_arrow_over.png) no-repeat right center; }
#gnb > ul > li > ul > li.depth.colum2 > ul { width: 195px; }
#gnb > ul > li > ul > li.depth.colum2 > ul li { width: 95px !important; display: inline-block; }
#gnb > ul > li > ul > li > ul { display: none; background: #fff; padding: 10px 0; border: 1px solid #6a9fd1; position: absolute; left: 0; top: 0; margin-left: 195px; z-index: 2; }
#gnb > ul > li > ul > li > ul > li > a { min-width: 195px; display: block; padding: 0 10px; font-size: 14px; color: #666; line-height: 24px; box-sizing: border-box; }
#gnb > ul > li > ul > li > ul > li > a:hover, #gnb > ul > li > ul > li > ul > li > a:focus { color: #699fd0; }

#skipNavi { position: relative; z-index: 9999; }
#skipNavi > a { position: relative; display: block; height: 1px; width: 1px; margin-bottom: -1px; overflow: hidden; font-size: 16px; color: #fff; font-weight: 700; background: #7c9dbc; white-space: nowrap; text-align: center; }
#skipNavi > a:focus, #skipNavi > a:active { height: auto; width: 100%; padding: 5px; margin-bottom: 10px; position: absolute; left: 0; top: 0; }

#container .location { height: 40px; background: #f9f9f9; border-bottom: 1px solid #ccc; }
#container .location > ul { width: 1600px; margin: auto; }
#container .location > ul > li { position: relative; float: left; height: 40px; line-height: 40px; box-sizing: border-box; border-right: 1px solid #ccc; }
#container .location > ul > li > a { display: block; min-width: 250px; padding-right: 50px; padding-left: 20px; height: 40px; background: url(/resource/img/bg_select.png) no-repeat right center; box-sizing: border-box; }
#container .location > ul > li > ul { display: none; border: none; background: #fff; border: 1px solid #ccc; position: absolute; left: 0; width: 100%; z-index: 1; margin-left: -1px; }
#container .location > ul > li > ul li:first-child > a { border-top: none; }
#container .location > ul > li > ul li a { display: block; margin: 0 20px; font-size: 16px; color: #666; height: 40px; line-height: 40px; border-top: 1px solid #ccc; }
#container .location > ul > li > ul li a:hover, #container .location > ul > li > ul li a:focus { color: #7c9dbc; }
#container .location > ul .home { width: 56px; min-width: 56px; background: #7c9dbc url(/resource/img/bg_home.png) no-repeat center center; }
#container .location > ul .home:hover, #container .location > ul .home:focus, #container .location > ul .home:active { background: #ff904b url(/resource/img/bg_home.png) no-repeat center center; }
#container .location > ul .home > a { display: block; position: absolute; width: 0; height: 0; border: 0; overflow: hidden; font-size: 0; line-height: 0; white-space: nowrap; }
#container .location > ul .last > a { color: #7c9dbc; }

.contentsTop { background: #fff; border: 1px solid #ccc; }
.contentsTop h2 { line-height: 62px; box-sizing: border-box; width: 1600px; margin: auto; }

#contents { width: 1600px; margin: auto; box-sizing: border-box; min-height: 400px; }

.contentsArea { width: 100%; display: inline-block; vertical-align: top; }
.contentsArea > div { box-sizing: border-box; float: left; box-sizing: border-box; padding-left: 15px; }
.contentsArea > div:first-child { padding-right: 15px; padding-left: 0; }
.contentsArea.col2 > div { width: 50%; }
.contentsArea.col3 > div { width: 33%; }
.contentsArea.col3 > div:nth-of-type(2) { width: 34%; padding-right: 15px; }

.title1 { font-size: 22px; color: #444; }

.title2 { font-size: 18px; padding: 20px 0 15px; position: relative; color: #444; font-weight: normal; overflow: hidden; }

.tableHeader { margin-bottom: 15px; }
.tableHeader:after { content: ""; display: block; clear: both; }
.tableHeader .btnArea { display: inline-block; text-align: center; margin-top: 0; }
.tableHeader .tablePaging { display: inline-block; font-size: 12px; color: #666; }
.tableHeader .tablePaging > strong { font-weight: normal; }
.tableHeader .tablePaging > strong:after { content: "/"; padding: 0 5px; display: inline-block; color: #666; font-weight: normal; }
.tableHeader .tablePaging > em { font-weight: normal; }
.tableHeader .tablePaging > em:after { content: "page"; padding-left: 5px; display: inline-block; color: #666; font-weight: normal; }

#footer { border-top: 2px solid #ccc; border-bottom: 3px solid #f2f5f8; background: #e5e5e5; }
#footer > div { position: relative; width: 1600px; padding: 20px 0; margin: auto; }
#footer > div .logoKsa { display: inline-block; width: 156px; height: 47px; margin-top: 10px; }
#footer > div .info { margin-left: 20px; display: inline-block; }
#footer > div .info > ul > li { display: inline-block; padding-right: 5px; padding-left: 5px; margin-left: 5px; border-left: 1px solid #666; height: 11px; line-height: 11px; font-size: 12px; color: #666; }
#footer > div .info > ul > li:first-child { padding: 0; margin: 0; border: 0; }
#footer > div .info address { display: block; font-style: normal; }
#footer > div .contact { position: absolute; right: 0; top: 30px; padding-left: 45px; background: url(/resource/img/bg_contact.png) no-repeat 20px 10px; font-size: 12px; height: 40px; line-height: 40px; }
#footer > div .contact:hover, #footer > div .contact:focus { background: url(/resource/img/bg_contact_over.png) no-repeat 20px 10px; transition: all 0.3s; border: 1px solid #ff904b; }

/* datepicker */
.dataBox { position: relative; display: inline-block; border: 1px solid #bcc5d4; background: #fff; }
.dataBox input { border: none; }

.ui-datepicker { width: 222px; padding: 20px 15px 15px; display: none; }
.ui-datepicker .ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
.ui-datepicker.ui-widget-content { border: 2px solid #000; background: #fff; }
.ui-datepicker .ui-datepicker-header { position: relative; }
.ui-datepicker .ui-datepicker-prev { position: absolute; top: 0; left: 2px; width: 20px; height: 30px; display: inline-block; background: url(/resource/img/btn_datapicker_prev.png) no-repeat center center; }
.ui-datepicker .ui-datepicker-next { position: absolute; top: 0; right: 2px; width: 20px; height: 30px; display: inline-block; background: url(/resource/img/btn_datapicker_next.png) no-repeat center center; }
.ui-datepicker .ui-datepicker-title { overflow: hidden; height: 30px; line-height: 30px; }
.ui-datepicker .ui-datepicker-title select { float: right; padding: 1px 1px 1px 0; height: 28px; height: 28px; font-size: 12px; color: #666; line-height: 28px; vertical-align: middle; border: 1px solid #bcc5d4; }
.ui-datepicker .ui-datepicker-title select.ui-datepicker-month { width: 78px; height: 30px; margin: 0 30px 0 5px; padding: 2px 5px; }
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year { width: 78px; height: 30px; padding: 2px 5px; }
.ui-datepicker table { width: 100%; font-size: 12px; color: #333; border-collapse: collapse; margin: 10px 0; }
.ui-datepicker table td span, .ui-datepicker table td a { display: block; width: 22px; height: 22px; line-height: 22px; text-align: center; margin: auto; text-decoration: none; }
.ui-datepicker table td span:hover, .ui-datepicker table td span:focus, .ui-datepicker table td a:hover, .ui-datepicker table td a:focus { background: #df3232; color: #fff; }
.ui-datepicker table thead tr:first-child th { padding: 0; height: 26px; line-height: 26px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; text-align: center; }
.ui-datepicker table tbody tr td:first-child a { color: #df3232; }
.ui-datepicker table tbody tr td:first-child a:hover, .ui-datepicker table tbody tr td:first-child a:focus { background: #df3232; color: #fff; }
.ui-datepicker table tbody tr td:nth-of-type(7) a { color: #326fdf; }
.ui-datepicker table tbody tr td:nth-of-type(7) a:hover, .ui-datepicker table tbody tr td:nth-of-type(7) a:focus { background: #df3232; color: #fff; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; border: none; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; overflow: visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-close { font-size: 11px; color: #666; background: #fff; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float: left; width: 48px; height: 19px; line-height: 19px; font-size: 10px; font-weight: 700; color: #767676; border: 1px solid #acacac; background: #eff1f2; }

.ui-datepicker-trigger { display: inline-block; width: 19px; height: 18px; line-height: 30px; vertical-align: middle; padding: 5px 10px 6px; cursor: pointer; }

/* tab */
.tab { position: relative; }
.tab > ul { display: table; table-layout: fixed; width: 100%; height: 45px; box-sizing: border-box; }
.tab > ul li { display: table-cell; box-sizing: border-box; background: #eaeef2; border-top: 1px solid #bcc5d4; border-left: 1px solid #bcc5d4; border-bottom: 1px solid #333; }
.tab > ul li:first-child { border-left: 1px solid #bcc5d4; }
.tab > ul li:last-child { border-right: 1px solid #bcc5d4; }
.tab > ul li a { position: relative; display: block; height: 45px; line-height: 45px; font-size: 15px; letter-spacing: -1px; color: #666; text-align: center; box-sizing: border-box; }
.tab > ul li.on { border-bottom: 1px solid #fff; background: #fff; border-left: 1px solid #eaeef2; border-right: 1px solid #eaeef2; }
.tab > ul li.on a { font-size: 16px; color: #718fac; font-weight: 700; }
.tab > ul li.on a:after { content: ""; position: absolute; left: 0; top: -1px; width: 100%; height: 46px; border-left: 1px solid #333; border-right: 1px solid #333; border-top: 2px solid #df3232; }
.tab > ul li.tab > ul li a:hover, .tab > ul li.tab > ul li a:focus { font-size: 16px; color: #666; }
.tab .tabContent > div { display: none; }
.tab .tabContent > div.on { display: block; }

/* table */
table tr .necessory { position: relative; }
table tr .necessory:before { content: "*"; display: inline-block; color: #df3232; }

.tableTy1 table { width: 100%; }
.tableTy1 tr th { padding: 13px 10px; font-size: 14px; color: #fff; text-align: left; border-left: 1px solid #d5d5d5; background: #7c8b9a; }
.tableTy1 tr td { padding: 13px 10px; font-size: 13px; color: #777; text-align: left; background: #fff; border-bottom: 1px solid #d5d5d5; border-left: 1px solid #d5d5d5; }
.tableTy1 thead th { text-align: center; }
.tableTy1 thead th:first-child { border-left: 0; }
.tableTy1 tbody th { border-top: 1px solid #d5d5d5; border-left: 1px solid #d5d5d5; }
.tableTy1 tbody td { border-top: 1px solid #d5d5d5; }
.tableTy1 tbody td:first-child { border-left: 0; }
.tableTy1.scrollY .body { height: 200px; overflow-y: auto; }

.tableTy2 { border: 1px solid #bcc8d4; padding-bottom: 12px; background: #d0dce7; }
.tableTy2 table { width: 100%; table-layout: fixed; }
.tableTy2 tr th { padding: 12px 15px 0 20px; font-size: 14px; color: #666; background: #d0dce7; text-align: left; }
.tableTy2 tr td { padding: 12px 20px 0 0; font-size: 14px; background: #d0dce7; }
.tableTy2 tr td input:first-child { margin-left: 0; }

.dot { display: inline-block; width: 1px; height: 2px; background: #666; text-align: center; margin: 0 2px; }

/* radio */
.radioBox { position: relative; display: inline-block; margin-left: 20px; line-height: 22px; vertical-align: middle; }
.radioBox:input-child { margin-left: 0; }
.radioBox input { position: absolute; left: 0; top: 0; visibility: hidden; }
.radioBox input[type="radio"]:checked + label { background: url(/resource/img/bg_radio_on.png) no-repeat 0 5px; }
.radioBox input[type="radio"]:disabled + label { background: url(/resource/img/bg_radio_disable.png) no-repeat 0 5px; }
.radioBox input[type="radio"]:disabled:checked + label { background: url(/resource/img/bg_radio_disable_on.png) no-repeat 0 5px; }
.radioBox label { display: block; padding-left: 20px; font-size: 14px; color: #4c4c4c; background: url(/resource/img/bg_radio.png) no-repeat 0 5px; cursor: pointer; }
.radioBox.blindLable { width: 18px; margin-left: 0; }
.radioBox.blindLable label { padding-left: 15px !important; text-indent: -9999px; overflow: hidden; }

/* checkbox */
.checkBox { position: relative; display: inline-block; margin-left: 20px; line-height: 22px; vertical-align: middle; }
.checkBox:input-child { margin-left: 0; }
.checkBox input { position: absolute; left: 0; top: 0; visibility: hidden; }
.checkBox input[type="checkbox"]:checked + label { background: url(/resource/img/bg_check_on.png) no-repeat 0 5px; }
.checkBox input[type="checkbox"]:disabled + label { background: url(/resource/img/bg_check_disable.png) no-repeat 0 5px; }
.checkBox input[type="checkbox"]:disabled:checked + label { background: url(/resource/img/bg_check_disable_on.png) no-repeat 0 5px; }
.checkBox label { display: block; padding-left: 20px; font-size: 14px; color: #4c4c4c; background: url(/resource/img/bg_check.png) no-repeat 0 5px; cursor: pointer; }
.checkBox.blindLable { width: 17px; margin-left: 0; }
.checkBox.blindLable label { padding-left: 15px !important; text-indent: -9999px; overflow: hidden; }

/* paging */
.paging { height: 38px; line-height: 38px; text-align: center; margin-top: 30px; }
.paging > a { display: inline-block; overflow: hidden; font-size: 0; line-height: 0; white-space: nowrap; background: #fff; width: 38px; height: 38px; border: 1px solid #e7e7e7; box-sizing: border-box; }
.paging > span { display: inline-block; height: 38px; margin: 0 15px; vertical-align: top; }
.paging > span > a { display: inline-block; background: #fff; min-width: 38px; padding: 0px 6px 0 2px; height: 38px; line-height: 38px; border: 1px solid #e7e7e7; font-size: 13px; color: #666; text-align: center; box-sizing: border-box; }
.paging > span strong { display: inline-block; background: #fff; min-width: 38px; padding: 0px 6px 0 2px; height: 38px; line-height: 38px; border: 1px solid #e7e7e7; font-size: 13px; color: #666; text-align: center; box-sizing: border-box; font-weight: normal; }
.paging > span strong.on, .paging > span strong:hover, .paging > span strong:focus { color: #7c9dbc; transition: all 0.3s; }
.paging .first { background: #fff url(/resource/img/bg_page_first.png) no-repeat center; }
.paging .first:hover, .paging .first:focus { background-image: url(/resource/img/bg_page_first_over.png); }
.paging .previous { background: #fff url(/resource/img/bg_page_previous.png) no-repeat center; margin-left: -5px; }
.paging .previous:hover, .paging .previous:focus { background-image: url(/resource/img/bg_page_previous_over.png); }
.paging .next { background: #fff url(/resource/img/bg_page_next.png) no-repeat center; }
.paging .next:hover, .paging .next:focus { background-image: url(/resource/img/bg_page_next_over.png); }
.paging .end { background: #fff url(/resource/img/bg_page_end.png) no-repeat center; margin-left: -5px; }
.paging .end:hover, .paging .end:focus { background-image: url(/resource/img/bg_page_end_over.png); }

/* button */
.btnArea { margin-top: 30px; }
.btnArea > div.fR > * { margin-left: 4px; }
.btnArea .btn, .btnArea .btnSmall { margin-left: 4px; }
.btnArea .btn:first-child, .btnArea .btnSmall:first-child { margin-left: 0; }

.btn { display: inline-block; padding: 0 19px; height: 32px; font-size: 15px; font-weight: 700; color: #fff; line-height: 32px; margin-left: 4px; }

.btnSmall { display: inline-block; padding: 0 10px; height: 28px; font-size: 12px; color: #fff; line-height: 28px; }

.btnBlue { background: #7c9dbc; border: 1px solid #718fac; }
.btnBlue:hover, .btnBlue:focus { background: #ff903b; border: 1px solid #ff903b; transition: all 0.3s; }

.btnWhite { background: #fff; border: 1px solid #7f8f9e; color: #666; }
.btnWhite:hover, .btnWhite:focus { border: 1px solid #ee1c23; color: #ee1c23; transition: all 0.3s; }

.btnGray { background: #f2f2f2; border: 1px solid #bfbfbf; color: #999; }
