@charset "UTF-8";
/*
* Creat : Madive 손상만
* Creat Date : 2017-07-10
* Last Update : 2017-07-24
*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, p, p iframe, figure { margin: 0; padding: 0; font-size: inherit; word-break: keep-all; word-break: break-word; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

header, hgroup, footer, section, article, aside, nav, canvas, figure, figcaption { display: block; }

table { font-size: inherit; border-collapse: collapse; border-spacing: 0; table-layout: fixed; }

th, td { word-wrap: break-word; word-break: break-all; font-weight: normal; }

fieldset, iframe { border: 0; vertical-align: top; }

img { border: 0; font-size: 0; vertical-align: top; }

li, dd { list-style: none; word-break: keep-all; word-break: break-word; }

hr { display: none; }

strong { font-weight: bold; }

caption, figcaption { overflow: hidden; width: 100%; height: 1px; font-size: 0; line-height: 0; text-indent: -9999px; margin-top: -1px; }

legend { display: block; position: absolute; left: -9999px; text-indent: 9999px; width: 0; height: 0; overflow: hidden; font-size: 0; line-height: 0; white-space: nowrap; }

button { padding: 0; border: 0; cursor: pointer; background: none; vertical-align: middle; appearance: none; moz-appearance: none; font-family: "segoe ui", "malgun gothic", "맑은 고딕", sans-serif; color: #666; letter-spacing: -1px; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; }

a { color: #666; text-decoration: none; }
a:hover, a:hover { text-decoration: none; }

em, i { font-style: normal; }

select { -webkit-appearance: none; -moz-appearance: none; appearance: none; color: #666; vertical-align: middle; border-radius: 0; }
select:disabled { background-color: #f2f2f2; color: #999; }

input { margin: 0; padding: 0; font-family: inherit; font-size: inherit; color: #666; line-height: 17px; vertical-align: top; -webkit-border-radius: 0; }
input[type="text"], input[type="password"], input[type="tel"], input[type="file"] { width: 350px; height: 34px; line-height: 34px; box-sizing: border-box; padding-left: 10px; border: none; background: #fff; -webkit-appearance: none; }
input[type="text"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="file"]:focus { border: 2px solid #7c9dbc; }
input[type="text"]:disabled, input[type="password"]:disabled, input[type="tel"]:disabled, input[type="file"]:disabled { background-color: #f2f2f2; color: #999; }
input[type="text"].txt, input[type="password"].txt, input[type="tel"].txt, input[type="file"].txt { border: 1px solid #d5d5d5; }
input[type="radio"] { width: 17px; height: 17px; vertical-align: -1px; }
input[type="checkbox"] { width: 13px; height: 13px; vertical-align: -1px; }

textarea { -webkit-appearance: none; -webkit-border-radius: 0; border: 1px solid #ccc; color: #666; background: #fff; padding: 15px; font-size: 15px; width: 100%; box-sizing: border-box; }

body { font-style: normal; font-size: 14px; font-family: "segoe ui", "malgun gothic", "맑은 고딕", sans-serif; color: #666; background: #fff; letter-spacing: -1.0px; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

/* 요소 숨김 */
.blind { display: block; position: absolute; width: 0; height: 0; border: 0; overflow: hidden; font-size: 0; line-height: 0; white-space: nowrap; }

/* Interval Type */
.interval0 { margin-top: 0px !important; }

.interval1 { margin-top: 10px !important; }

.interval2 { margin-top: 20px !important; }

.interval3 { margin-top: 30px !important; }

.interval4 { margin-top: 40px !important; }

.interval5 { margin-top: 50px !important; }

/* Align type */
.fL { float: left !important; }

.fR { float: right !important; }

.tL { text-align: left !important; }

.tC { text-align: center !important; }

.tR { text-align: right !important; }

.vT { vertical-align: top !important; }

.vM { vertical-align: middle !important; }

.vB { vertical-align: bottom !important; }

.vN { vertical-align: 0 !important; }

/* 포인트 컬러 */
.fontColor1 { color: #666 !important; }

.fontColor2 { color: #718fac !important; }

.fontColor3 { color: #7c9dbc !important; }

.fontColor4 { color: #ff903b !important; }

.fontColor5 { color: #ee1c23 !important; }

.fontColor6 { color: #2f9fbb !important; }

/* 폼요소 너비 */
.widAll { width: 100%; }

.selectBox { display: inline-block; }
.selectBox .designSelect { position: relative; background: #fff; }
.selectBox .designSelect.on button { border: 2px solid #7c9dbc; background-image: url(/resource/img/bg_select_over.png); }
.selectBox .designSelect button { border: 1px solid #bcc5d4; padding: 0 47px 0 10px; width: 100%; height: 34px; background: url(/resource/img/bg_select.png) no-repeat right center; line-height: 34px; box-sizing: border-box; text-align: left; font-size: 14px; color: #666; }
.selectBox ul { display: none; border: none; background: #fff; border: 1px solid #ccc; position: absolute; left: 0; top: 34px; box-sizing: border-box; width: 100%; padding: 10px 0; z-index: 1; }
.selectBox ul li a { display: block; padding: 0 10px; font-size: 13px; color: #666; line-height: 22px; text-align: left; }
.selectBox ul li a:hover, .selectBox ul li a:focus { color: #7c9dbc; }

.title1 { padding-left: 17px; font-size: 22px; color: #777; font-weight: bold; background: url(/resource/img/bg_title1.png) no-repeat left center; }

.title2 { padding-left: 12px; font-size: 18px; padding: 20px 0 15px 12px; position: relative; color: #7a7a7a; font-weight: bold; overflow: hidden; background: url(/resource/img/bg_title2.png) no-repeat left center; }

.blit { position: relative; padding: 10px 0; font-size: 13px; padding-left: 8px; text-align: left; }
.blit:before { content: ""; position: absolute; left: 0; top: 18px; width: 3px; height: 3px; background: #666; display: inline-block; }

.tableHeader { display: block; vertical-align: top; overflow: hidden; }
.tableHeader > h3 { float: left; }
.tableHeader .fR { padding-top: 20px; }
.tableHeader .btn_ico { margin-left: 1px; }
.tableHeader .tablePaging { display: inline-block; font-size: 12px; color: #666; margin-right: 10px; }
.tableHeader .tablePaging > strong { font-weight: normal; }
.tableHeader .tablePaging > strong:after { content: "/"; padding: 0 5px; display: inline-block; color: #666; font-weight: normal; }
.tableHeader .tablePaging > em { font-weight: normal; }
.tableHeader .tablePaging > em:after { content: "page"; padding-left: 5px; display: inline-block; color: #666; font-weight: normal; }
.tableHeader .selectBox { margin-left: 1px; }
.tableHeader .selectBox .designSelect button { height: 26px; line-height: 26px; }
.tableHeader .selectBox ul { top: 26px !important; }

/* datepicker */
.dateBox { position: relative; display: inline-block; border: 1px solid #d5d5d5; height: 32px; vertical-align: middle; }
.dateBox input { height: 32px; line-height: 32px; border: none; }

.dateArea .dateWrap, .dateArea .dateBtn { display: inline-block; vertical-align: top; }

.ui-datepicker { width: 236px; }
.ui-datepicker .ui-icon { display: block; overflow: hidden; font-size: 0; height: 0; }
.ui-datepicker.ui-widget-content { background: #fff; border: 1px solid #ccc; }
.ui-datepicker .ui-datepicker-header { position: relative; padding: 10px 0; background: #087ea5; width: 238px; left: -1px; top: 0; }
.ui-datepicker .ui-datepicker-prev { position: absolute; top: 11px; left: 16px; width: 25px; height: 25px; display: inline-block; background: #05495f; border-radius: 10px; background: url(/resource/img/btn_datapicker_prev.png) no-repeat center center; }
.ui-datepicker .ui-datepicker-prev:hover, .ui-datepicker .ui-datepicker-prev:focus { background: url(/resource/img/btn_datapicker_prev_over.png) no-repeat center center; }
.ui-datepicker .ui-datepicker-next { position: absolute; top: 11px; right: 16px; width: 25px; height: 25px; display: inline-block; background: #05495f; border-radius: 10px; background: url(/resource/img/btn_datapicker_next.png) no-repeat center center; }
.ui-datepicker .ui-datepicker-next:hover, .ui-datepicker .ui-datepicker-next:focus { background: url(/resource/img/btn_datapicker_next_over.png) no-repeat center center; }
.ui-datepicker .ui-datepicker-title { overflow: hidden; height: 25px; width: 140px; margin: auto; text-align: center; }
.ui-datepicker .ui-datepicker-title select { float: right; padding-left: 8px; height: 25px; font-size: 14px; font-weight: bold; color: #666; vertical-align: middle; background: #fff url(/resource/img/bg_selectdate.png) no-repeat right center; padding-right: 23px; border: 1px solid #8acadf; }
.ui-datepicker .ui-datepicker-title select:active, .ui-datepicker .ui-datepicker-title select:hover { background-image: url(/resource/img/bg_selectdate_over.png); border: 1px solid #ef8514; }
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year { margin-right: 5px; }
.ui-datepicker table { width: 196px; font-size: 14px; color: #333; border-collapse: collapse; margin: 10px auto; }
.ui-datepicker table td span, .ui-datepicker table td a { display: block; width: 22px; height: 22px; line-height: 22px; text-align: center; margin: auto; text-decoration: none; }
.ui-datepicker table td span:hover, .ui-datepicker table td span:focus, .ui-datepicker table td span.ui-state-active, .ui-datepicker table td a:hover, .ui-datepicker table td a:focus, .ui-datepicker table td a.ui-state-active { background: #087ea5; border-radius: 11px; color: #fff !important; }
.ui-datepicker table td:first-child a { color: #ee1c23; }
.ui-datepicker table td:nth-of-type(7) a { color: #3463cd; }
.ui-datepicker table thead tr:first-child th { padding: 0; height: 26px; line-height: 26px; text-align: center; color: #7e8da3; }
.ui-datepicker table thead tr:first-child th:first-child { color: #ee1c23; }
.ui-datepicker table thead tr:first-child th:last-child { color: #3462cc; }
.ui-datepicker .ui-datepicker-buttonpane { display: none; }
.ui-datepicker .ui-priority-primary, .ui-datepicker .ui-widget-content .ui-priority-primary, .ui-datepicker .ui-widget-header .ui-priority-primary { font-weight: bold; }

.ui-datepicker-trigger { display: inline-block; width: 32px; height: 32px; vertical-align: top; font-size: 0; background: url(/resource/img/btn_datapicker.png) no-repeat center; }

/* tab */
.tab { position: relative; margin-bottom: 10px; }
.tab > ul { display: table; table-layout: fixed; height: 36px; box-sizing: border-box; margin-bottom: 10px; }
.tab > ul li { display: table-cell; box-sizing: border-box; background: #f6f6f6; border-top: 1px solid #d5d5d5; border-left: 1px solid #d5d5d5; }
.tab > ul li:first-child { border-left: 1px solid #d5d5d5; }
.tab > ul li:last-child { border-right: 1px solid #d5d5d5; }
.tab > ul li a { position: relative; display: block; min-width: 134px; height: 36px; line-height: 36px; text-align: center; box-sizing: border-box; }
.tab > ul li.on { background: #fff; border-left: 1px solid #d5d5d5; border-right: 1px solid #d5d5d5; }
.tab > ul li.on a { font-size: 16px; }
.tab > ul li.on a:after { content: ""; position: absolute; left: 0; top: -1px; width: 100%; height: 36px; border-left: 1px solid #d5d5d5; border-right: 1px solid #d5d5d5; border-top: 2px solid #7c9dbc; }
.tab > ul li.tab > ul li a:hover, .tab > ul li.tab > ul li a:focus { color: #666; }
.tab .tabContent > div { display: none; }
.tab .tabContent > div.on { display: block; }

/* table */
table tr .necessory { position: relative; }
table tr .necessory:before { content: "*"; display: inline-block; color: #df3232; }

.tableTy1 table { width: 100%; }
.tableTy1 tr th { padding: 13px 10px; font-size: 14px; color: #fff; text-align: left; border-left: 1px solid #d5d5d5; background: #7c8b9a; }
.tableTy1 tr td { padding: 13px 10px; font-size: 14px; color: #777; text-align: left; background: #fff; border-bottom: 1px solid #d5d5d5; border-left: 1px solid #d5d5d5; }
.tableTy1 thead th { text-align: center; }
.tableTy1 thead th:first-child { border-left: 0; }
.tableTy1 tbody tr:hover th, .tableTy1 tbody tr:hover td, .tableTy1 tbody tr:focus th, .tableTy1 tbody tr:focus td { background: #fbfbfb; }
.tableTy1 tbody tr.add th, .tableTy1 tbody tr.add td { background: #f4faff; }
.tableTy1 tbody tr th { border-top: 1px solid #d5d5d5; border-left: 1px solid #d5d5d5; }
.tableTy1 tbody tr td { border-top: 1px solid #d5d5d5; color: #666; }
.tableTy1 tbody tr td:first-child { border-left: 0; }
.tableTy1.scrollY .body { height: 200px; overflow-y: auto; }
.tableTy1 + .btnArea { margin-top: 10px; }
.tableTy1.ty1 tbody tr:hover th, .tableTy1.ty1 tbody tr:focus th { background: #7c8b9a; }
.tableTy1.ty1 tbody tr:hover td, .tableTy1.ty1 tbody tr:focus td { background: #fff; }

.tableTy2 { border: 1px solid #bcc8d4; background: #d0dce7; padding-bottom: 12px; }
.tableTy2 + .btnArea { margin-top: 10px; }
.tableTy2 table { width: 100%; table-layout: fixed; }
.tableTy2 tr th { padding: 12px 15px 0 20px; font-size: 14px; color: #666; background: #d0dce7; text-align: left; }
.tableTy2 tr td { padding: 12px 20px 0 0; font-size: 14px; background: #d0dce7; }
.tableTy2 tr td input:first-child { margin-left: 0; }

.dot { display: inline-block; width: 1px; height: 2px; background: #666; text-align: center; margin: 0 2px; }

/* radio */
.radioBox { position: relative; display: inline-block; line-height: 24px; vertical-align: middle; }
.radioBox + .radioBox { margin-left: 20px; }
.radioBox input { position: absolute; left: 0; top: 0; visibility: hidden; }
.radioBox input[type="radio"]:checked + label { background: url(/resource/img/bg_radio_on.png) no-repeat 0 5px; }
.radioBox input[type="radio"]:disabled + label { background-image: url(/resource/img/bg_radio_disable.png); }
.radioBox input[type="radio"]:disabled:checked + label { background-image: url(/resource/img/bg_radio_disable_on.png); }
.radioBox label { display: block; padding-left: 23px; font-size: 14px; color: #4c4c4c; background: url(/resource/img/bg_radio.png) no-repeat 0 5px; cursor: pointer; }
.radioBox.blindLable { width: 18px; margin-left: 0; }
.radioBox.blindLable label { padding-left: 15px !important; text-indent: -9999px; overflow: hidden; }

/* checkbox */
.checkBox { position: relative; display: inline-block; line-height: 24px; vertical-align: middle; }
.checkBox + .checkBox { margin-left: 20px; }
.checkBox input { position: absolute; left: 0; top: 0; visibility: hidden; }
.checkBox input[type="checkbox"]:checked + label { background: url(/resource/img/bg_check_on.png) no-repeat 0 5px; }
.checkBox input[type="checkbox"]:disabled + label { background-image: url(/resource/img/bg_check_disable.png); }
.checkBox input[type="checkbox"]:disabled:checked + label { background-image: url(/resource/img/bg_check_disable_on.png); }
.checkBox label { display: block; padding-left: 23px; font-size: 14px; color: #4c4c4c; background: url(/resource/img/bg_check.png) no-repeat 0 5px; cursor: pointer; }
.checkBox.blindLable { width: 17px; margin-left: 0; }
.checkBox.blindLable label { padding-left: 15px !important; text-indent: -9999px; overflow: hidden; }

/* paging */
.paging { height: 38px; line-height: 38px; text-align: center; margin-top: 22px; }
.paging > a { display: inline-block; overflow: hidden; font-size: 0; line-height: 0; white-space: nowrap; background: #fff; width: 38px; height: 38px; border: 1px solid #e7e7e7; box-sizing: border-box; }
.paging > span { display: inline-block; height: 38px; margin: 0 15px; vertical-align: top; }
.paging > span > a { display: inline-block; background: #fff; min-width: 38px; padding: 0px 6px 0 2px; height: 38px; line-height: 38px; border: 1px solid #e7e7e7; font-size: 13px; color: #666; text-align: center; box-sizing: border-box; }
.paging > span > a.on, .paging > span > a:hover, .paging > span > a:focus { color: #fff; background: #7e9fbd; transition: all 0.3s; }
.paging > span strong { display: inline-block; background: #fff; min-width: 38px; padding: 0px 6px 0 2px; height: 38px; line-height: 38px; border: 1px solid #e7e7e7; font-size: 13px; color: #666; text-align: center; box-sizing: border-box; font-weight: normal; }
.paging > span strong.on, .paging > span strong:hover, .paging > span strong:focus { color: #fff; background: #7e9fbd; transition: all 0.3s; }
.paging .first { background: #fff url(/resource/img/btn_page_first.png) no-repeat center; }
.paging .first:hover, .paging .first:focus { background-image: url(/resource/img/btn_page_first_over.png); }
.paging .previous { background: #fff url(/resource/img/btn_page_previous.png) no-repeat center; margin-left: -5px; }
.paging .previous:hover, .paging .previous:focus { background-image: url(/resource/img/btn_page_previous_over.png); }
.paging .next { background: #fff url(/resource/img/btn_page_next.png) no-repeat center; }
.paging .next:hover, .paging .next:focus { background-image: url(/resource/img/btn_page_next_over.png); }
.paging .end { background: #fff url(/resource/img/btn_page_end.png) no-repeat center; margin-left: -5px; }
.paging .end:hover, .paging .end:focus { background-image: url(/resource/img/btn_page_end_over.png); }

/* button */
.btnArea { text-align: center; }

.btn { display: inline-block; padding: 0 19px; height: 32px; font-size: 15px; font-weight: bold; color: #fff; line-height: 32px; }
.btn + .btn { margin-left: 4px; }

.btnSmall { display: inline-block; padding: 0 10px; height: 28px; font-size: 12px; color: #fff; line-height: 28px; }
.btnSmall + .btnSmall { margin-left: 4px; }

.btnBlue { background-color: #7c9dbc; border: 1px solid #718fac; }
.btnBlue:hover, .btnBlue:focus { background-color: #ff903b; border: 1px solid #ff903b; transition: all 0.3s; }

.btnWhite { background-color: #fff; border: 1px solid #7f8f9e; color: #666; }
.btnWhite:hover, .btnWhite:focus { border: 1px solid #ee1c23; color: #ee1c23; transition: all 0.3s; }

.btnRed { background-color: #ffbfbf; border: 1px solid #f2151a; color: #f2151a; }

.btnGray { background-color: #f2f2f2; border: 1px solid #bfbfbf; color: #999; }

.btn_ico { background: #fff; border: 1px solid #718fac; color: #7c9dbc; display: inline-block; padding: 0 10px; height: 26px; font-size: 14px; line-height: 26px; }
.btn_ico + .btn { margin-left: 4px; }
.btn_ico:hover, .btn_ico:focus { border: 1px solid #ee1c23; color: #ee1c23; transition: all 0.3s; }
.btn_ico.btnPrint { padding-left: 35px; background: url(/resource/img/btn_print_s.png) no-repeat 10px center; }
.btn_ico.btnPrint:hover, .btn_ico.btnPrint:focus { background-image: url(/resource/img/btn_print_s_over.png); }
.btn_ico.btnPdf { padding-left: 30px; background: url(/resource/img/btn_pdf_s.png) no-repeat 10px center; }
.btn_ico.btnPdf:hover, .btn_ico.btnPdf:focus { background-image: url(/resource/img/btn_pdf_s_over.png); }

.btnPrint { padding-left: 35px; background-image: url(/resource/img/btn_print.png); background-repeat: no-repeat; background-position: 10px center; }

.btnPdf { padding-left: 30px; background-image: url(/resource/img/btn_pdf.png); background-repeat: no-repeat; background-position: 10px center; }

.btnLink { color: #7c9dbc; text-decoration: underline; }
.btnLink:hover, .btnLink:focus { text-decoration: underline; }

.popup { position: relative; }
.popup .popHeader { height: 60px; background: #7d8d9c; }
.popup .popHeader > h1 { padding-left: 20px; line-height: 60px; font-size: 18px; color: #fff; }
.popup .popContent { background: #fff; padding: 20px 18px; min-height: 340px; font-size: 13px; color: #666; }
.popup .popBottom { height: 30px; padding: 0 20px; line-height: 30px; border-top: 1px solid #d5d5d5; background: #e5e5e5; text-align: right; }
.popup .popBottom .todayClose + label { display: inline-block; font-size: 12px; color: #666; vertical-align: 1px; }
.popup .close { position: absolute; top: 0; right: 0; width: 60px; height: 60px; background: url(/resource/img/btn_popclose.png) no-repeat; font-size: 0; }

.fileBox { display: inline-block; position: relative; }
.fileBox input[type="file"] { position: absolute; top: 0px; right: 0px; width: 96px; height: 34px; opacity: 0; }
.fileBox label { display: inline-block; padding: 0 19px; height: 32px; line-height: 34px; background: #7c9dbc; border: 1px solid #718fac; font-size: 15px; color: #fff; cursor: pointer; }
.fileBox label:hover, .fileBox label:focus { background: #ff903b; border: 1px solid #ff903b; transition: all 0.3s; }

.fileList { margin-top: 10px; }
.fileList > span { border: 1px solid #d5d5d5; display: inline-block; }
.fileList > span img { display: block; }
