@charset "UTF-8";
/*
* Creat : Madive 손상만
* Creat Date : 2017-07-10
* Last Update : 2017-07-24
*/
#skipNavi { position: relative; z-index: 9999; }
#skipNavi > a { position: relative; display: block; height: 1px; width: 1px; margin-bottom: -1px; overflow: hidden; font-size: 16px; color: #fff; font-weight: 700; background: #7c9dbc; white-space: nowrap; text-align: center; }
#skipNavi > a:focus, #skipNavi > a:active { height: auto; width: 100%; padding: 5px; margin-bottom: 10px; position: absolute; left: 0; top: 0; }

#wrap { width: 100%; min-width: 1600px; margin: auto; }

#header { height: 99px; background: #404652; border-bottom: 2px solid #d75605; }
#header > div { width: 1600px; margin: auto; height: 100%; }
#header .utill { position: relative; padding-top: 15px; }
#header .utill > h1 { width: 226px; height: 32px; }
#header .utill > h1 > a { display: block; height: 32px; }
#header .utill > ul { position: absolute; right: 0; top: 20px; }
#header .utill > ul .user { padding-left: 35px; line-height: 28px; background: url(/resource/img/bg_user.png) no-repeat left center; color: #c8ceda; }
#header .utill > ul > li { display: inline-block; margin-right: 11px; font-size: 12px; color: #c8ceda; line-height: 28px; }
#header .utill > ul > li a { position: relative; padding: 0 7px; display: inline-block; font-size: 12px; color: #c8ceda; }
#header .utill > ul > li a:hover, #header .utill > ul > li a:focus { color: #96c7f4; }
#header .utill > ul > li:before { content: ""; display: inline-block; width: 1px; height: 11px; background: #c8ceda; }
#header .utill > ul > li:first-child { margin-left: 0; }
#header .utill > ul > li:first-child:before { display: none; }

#gnb > ul { display: inline-block; vertical-align: top; }
#gnb > ul > li { position: relative; float: left; }
#gnb > ul > li:first-child > a { padding-left: 0; }
#gnb > ul > li.on > a { color: #96c7f4; }
#gnb > ul > li > a { display: inline-block; padding: 15px; font-size: 18px; color: #c8ceda; height: 24px; }
#gnb > ul > li > ul { display: none; background: #fff; border: 1px solid #6a9fd1; position: absolute; left: 0; top: 54px; box-sizing: border-box; z-index: 1; }
#gnb > ul > li > ul > li { position: relative; height: 40px; border-top: 1px solid #6a9ed0; }
#gnb > ul > li > ul > li:first-child { border-top: none; }
#gnb > ul > li > ul > li > a { display: block; min-width: 195px; padding: 8px 28px 8px 10px; font-size: 16px; color: #666; line-height: 24px; box-sizing: border-box; }
#gnb > ul > li > ul > li > a:hover, #gnb > ul > li > ul > li > a:focus { color: #96c7f4; }
#gnb > ul > li > ul > li.depth > a { background: #fff url(/resource/img/bg_gnb_arrow.png) no-repeat right center; }
#gnb > ul > li > ul > li.depth > a:hover, #gnb > ul > li > ul > li.depth > a:focus { background: #6a9fd1 url(/resource/img/bg_gnb_arrow_over.png) no-repeat right center; color: #fff; }
#gnb > ul > li > ul > li.depth.on > ul { display: block; }
#gnb > ul > li > ul > li.depth.on > a { color: #fff; background: #6a9fd1 url(/resource/img/bg_gnb_arrow_over.png) no-repeat right center; }
#gnb > ul > li > ul > li.depth.colum2 > ul li { width: 50%; float: left; box-sizing: border-box; display: inline-block; }
#gnb > ul > li > ul > li > ul { display: none; background: #fff; padding: 10px 0; border: 1px solid #6a9fd1; position: absolute; left: 195px; width: 195px; top: -1px; z-index: 2; }
#gnb > ul > li > ul > li > ul > li > a { display: block; padding: 0 10px; font-size: 14px; color: #666; line-height: 24px; box-sizing: border-box; }
#gnb > ul > li > ul > li > ul > li > a:hover, #gnb > ul > li > ul > li > ul > li > a:focus { color: #699fd0; }

.location { width: 1600px; margin: auto; }
.location > div { height: 41px; background: #f9f9f9; display: inline-block; vertical-align: top; }
.location > div > a { float: left; background: #7c9dbc url(/resource/img/bg_home.png) no-repeat; width: 56px; height: 41px; font-size: 0; }
.location > div > a:hover, .location > div > a:focus, .location > div > a:active { background-color: #ff904b; background-image: url(/resource/img/bg_home.png); }
.location > div > ul { float: left; display: inline-block; vertical-align: top; }
.location > div > ul > li { float: left; line-height: 41px; box-sizing: border-box; border-right: 1px solid #ccc; }
.location > div > ul > li > button { display: block; padding-right: 50px; padding-left: 20px; height: 41px; background: url(/resource/img/bg_select.png) no-repeat right center; width: 100%; text-align: left; }
.location > div > ul > li > button span { line-height: 41px; display: block; }
.location > div > ul > li.on button { background-image: url(/resource/img/bg_select_over.png); }
.location > div > ul > li > ul { visibility: hidden; border: none; background: #fff; position: absolute; width: 100%; z-index: 1; margin-left: -1px; border: 1px solid #ccc; }
.location > div > ul > li > ul li:first-child a span { border-top: none; }
.location > div > ul > li > ul li a { display: block; padding: 0 20px; }
.location > div > ul > li > ul li a:hover > span, .location > div > ul > li > ul li a:focus > span { color: #7c9dbc; }
.location > div > ul > li > ul li a > span { font-size: 14px; color: #666; line-height: 40px; border-top: 1px solid #ccc; }
.location > div > ul .last > button { color: #7c9dbc; }

.contentsTop { background: #fff; border: 1px solid #ccc; }
.contentsTop h2 { line-height: 62px; box-sizing: border-box; width: 1600px; margin: auto; }

#contents { width: 1600px; padding-bottom: 60px; margin: auto; box-sizing: border-box; min-height: 400px; }

.contentsArea { width: 100%; display: inline-block; vertical-align: top; }
.contentsArea > div { box-sizing: border-box; float: left; box-sizing: border-box; padding-left: 15px; }
.contentsArea > div:first-child { padding-right: 15px; padding-left: 0; }
.contentsArea.col2 > div { width: 50%; }
.contentsArea.col3 > div { width: 33%; }
.contentsArea.col3 > div:nth-of-type(2) { width: 34%; padding-right: 15px; }

#footer { border-top: 2px solid #ccc; border-bottom: 3px solid #f2f5f8; background: #e5e5e5; }
#footer > div { position: relative; width: 1600px; padding: 20px 0 35px; margin: auto; }
#footer > div .logoKsa { display: inline-block; width: 148x; height: 40px; margin-top: 8px; }
#footer > div .info { margin-left: 20px; display: inline-block; }
#footer > div .info > ul > li { display: inline-block; padding-right: 5px; padding-left: 7px; margin-left: 5px; border-left: 1px solid #666; height: 11px; line-height: 11px; font-size: 12px; color: #666; }
#footer > div .info > ul > li:first-child { padding: 0; margin: 0; border: 0; }
#footer > div .info address { display: block; margin: 5px 0; font-style: normal; }
#footer > div .contact { position: absolute; right: 0; top: 30px; padding-left: 45px; background: #7c9dbc url(/resource/img/bg_contact.png) no-repeat 20px 10px; font-size: 12px; height: 40px; line-height: 40px; color: #fff; }
#footer > div .contact:hover, #footer > div .contact:focus { background: #ff903b url(/resource/img/bg_contact.png) no-repeat 20px 10px; transition: all 0.3s; border: 1px solid #ff904b; color: #fff; }
