@charset "UTF-8";
@import "config.scss";

/*
* Creat : Madive 손상만
* Creat Date : 2017-07-10
* Last Update : 2017-07-20
*/

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
p,p
iframe,
figure
{
	margin:0;
	padding:0;
	font-size:inherit;
	word-break:keep-all;
	word-break:break-word
}
h1,
h2,
h3,
h4,
h5,
h6
{
	@include weight("N");
}

header,
hgroup,
footer,
section,
article,
aside,
nav,
canvas,
figure,
figcaption
{
	display:block;
}

table{
	font-size:inherit;
	border-collapse:collapse;
	border-spacing:0;
	table-layout:fixed
}

th,
td
{
	word-wrap:break-word;
	word-break:break-all;
	@include weight("N")
}

fieldset,
iframe
{
	border:0;
	vertical-align:top
}

img{
	border:0;
	font-size:0;
	vertical-align:top
}

li,dd
{
	list-style:none;
	word-break:keep-all;
	word-break:break-word
}

hr{
	display:none
}
strong{
	@include weight("B");
}
caption,
figcaption{
	overflow:hidden;
	width:100%;
	height:1px;
	font-size:0;
	line-height:0;
	text-indent:-9999px;
	margin-top:-1px
}

legend{
	display:block;
	position:absolute;
	left:-9999px;
	text-indent:9999px;
	width:0;
	height:0;
	overflow:hidden;
	font-size:0;
	line-height:0;
	white-space:nowrap
}

button{
	padding:0;
	border:0;
	cursor:pointer;
	background:none;
	vertical-align:middle;
	appearance:none;
	moz-appearance:none;
	font-family:$font;
	color:$color0;
	letter-spacing:-1.0px
}

h1,
h2,
h3,
h4,
h5,
h6
{
	font-size:100%;
}

a{
	color:$color0;
	text-decoration:none;
	&:hover,
	&:hover
	{
		text-decoration:none
	}
}

em,
i
{
	font-style:normal
}

select{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	color:$color0;
	vertical-align:middle;
	border-radius:0;
	&:disabled{
		background-color:#f2f2f2;
		color:#999;
	}
}

input{
	margin:0;
	padding:0;
	font-size:inherit;
	color:$color0;
	line-height:17px;
	vertical-align:top;
	-webkit-border-radius:0;
	&[type="text"],
	&[type="password"],
	&[type="tel"]
	{
		width:350px;
		height:34px;
		line-height:34px;
		box-sizing:border-box;
		padding-left:10px;
		border:none;
		-webkit-appearance:none;
		&:focus{
			border: 2px solid #7c9dbc;
		}
		&:disabled{ //미정
			background-color:#f2f2f2;
			color:#999;
		}
	}
	&[type="radio"]
	{
		width:17px;
		height:17px;
		vertical-align:-1px
	}
	&[type="checkbox"]
	{
		width:13px;
		height:13px;
		vertical-align:-1px
	}
}

textarea{
	-webkit-appearance:none;
	-webkit-border-radius:0;
	border:1px solid #ccc;
	color:$color0;
	background:#fff;
	padding:15px;
	font-size:15px;
	width:100%;
	box-sizing:border-box;
}

body{
	font-style:normal;
	font-size:13px;
	font-family:$font;
	color:$color0;
	background:#fff;
	letter-spacing:-1.0px;
	-webkit-text-size-adjust:100%;
	-moz-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}

/* 요소 숨김 */
.blind{
	display:block;
	position:absolute;
	width:0;
	height:0;
	border:0;
	overflow:hidden;
	font-size:0;
	line-height:0;
	white-space:nowrap
}

/* Interval Type */
.interval0{
	margin-top:0px !important;
}
.interval1{
	margin-top:10px !important;
}
.interval2{
	margin-top:20px !important;
}
.interval3{
	margin-top:30px !important;
}
.interval4{
	margin-top:40px !important;
}
.interval5{
	margin-top:50px !important;
}

/* Align type */
.fL{
	float:left !important
}
.fR{
	float:right !important
}
.tL{
	text-align:left !important
}
.tC{
	text-align:center !important
}
.tR{
	text-align:right !important
}
.vT{
	vertical-align:top !important
}
.vM{
	vertical-align:middle !important
}
.vB{
	vertical-align:bottom !important
}
.vN{
	vertical-align:0 !important
}

/* 포인트 컬러 */
.fontColor1{
	color:$color0 !important;
}
.fontColor2{
	color:$color1 !important;
}
.fontColor3{
	color:$color2 !important;
}
.fontColor4{
	color:$color3 !important;
}
.fontColor5{
	color:$color4 !important;
}

.fontColor6{
	color:#2f9fbb !important;
}


/* 폼요소 너비 */
.widAll{
	width:100%;
}
.wid50{
	width:50px;
}
.wid600{
	width:600px;
}
.wid510{
	width:510px;
}
// .wid390{
// 	width:390px;
// }


// 셀렉트 박스
.selectBox{
	display:inline-block;
	.designSelect{
		position:relative;
		background:#fff;
		&.on{
			button{
				border:2px solid #7c9dbc;
				background-image:url(#{$img-common}bg_select_over.png) no-repeat;
			}
		}
		button{
			border:1px solid #bcc5d4;
			padding:0 47px 0 20px;
			width:100%;
			height:34px;
			background:url(#{$img-common}bg_select.png) no-repeat right center;
			line-height:34px;
			box-sizing:border-box;
			text-align:left;
			font-size:14px;
			color:$color0;
		}
	}
	ul{
		display:none;
		border:none;
		background:#fff;
		border:1px solid #ccc;
		position:absolute;
		left:0;
		top:34px;
		box-sizing:border-box;
		width:100%;
		padding:10px 0;
		z-index:1;
		li{

			a{
				display:block;
				padding:0 10px;
				font-size:13px;
				color:#666;
				line-height:22px;
				text-align:left;
				&:hover,
				&:focus{
					color:#7c9dbc;
				}
			}
		}
	}
}


/* 임시 */
.guideTitle {
	font-size:18px;
	@include weight("B");
	margin:50px 0 20px;
	background:#eee;
	height:30px;
	line-height:30px;
}
.guideTitleSmall {
	font-size:14px;
	margin:30px 0 20px;
}


/* layout */
#wrap{
	width:100%;
	min-width:1600px;
	margin:auto;
}
#header{
	height:99px;
	background:#404652;
	border-bottom:2px solid #d75605;
	> div{
		width:1600px;
		margin:auto;
		height:100%;
	}
	.utill{
		position:relative;
		padding-top:15px;
		> h1{
			width:226px;
			height:32px;
			> a{
				display:block;
				height:32px;
			}
		}
		> ul{
			position:absolute;
			right:0;
			top:20px;
			.user{
				padding-left:35px;
				line-height:28px;
				background:url(#{$img-common}bg_user.png) no-repeat left center;
				color:#c8ceda;
			}
			> li{
				display:inline-block;
				margin-right:11px;
				font-size:12px;
				color:#c8ceda;
				line-height:28px;
				a{
					position:relative;
					padding:0 7px;
					display:inline-block;
					font-size:12px;
					color:#c8ceda;
					&:hover,
					&:focus{
						color:#96c7f4;
					}
				}
				&:before{
					content:"";
					display:inline-block;
					width:1px;
					height:11px;
					background:#c8ceda;
				}
				&:first-child{
					margin-left:0;
					&:before{
						display:none;
					}
				}
			}
		}
	}
}
#gnb{
	> ul{
		display:inline-block;
		vertical-align:top;
		> li{
			position:relative;
			float:left;
			&:first-child{
				> a{
					padding-left:0;
				}
			}
			&.on{
				> a{
					color:#96c7f4;
				}
			}
			> a{
				display:inline-block;
				padding:15px;
				font-size:18px;
				color:#c8ceda;
				height:24px;
				&:hover,
				&:focus{
				}
			}
			> ul {
				display:none;
				background:#fff;
				border:1px solid #6a9fd1;
				position:absolute;
				left:0;
				top:53px;
				box-sizing:border-box;
				z-index:1;
				> li{
					position:relative;
					&:first-child{
						> a{
							border-top:none;
						}
					}
					> a{
						display:block;
						min-width:195px;
						padding:8px 28px 8px 10px;
						font-size:16px;
						color:#666;
						line-height:24px;
						box-sizing:border-box;
						border-top:1px solid #6a9ed0;
						&:hover,
						&:focus{
							color:#96c7f4;
						}
					}
					&.depth{
						> a{
							background:#fff url(#{$img-common}bg_gnb_arrow.png) no-repeat right center;
							&:hover,
							&:focus{
								background:#6a9fd1 url(#{$img-common}bg_gnb_arrow_over.png) no-repeat right center;
								color:#fff;
							}
						}
						&.on{
							> ul {
								display:block;
							}
							> a{
								color:#fff;
								background:#6a9fd1 url(#{$img-common}bg_gnb_arrow_over.png) no-repeat right center;
							}
						}
						&.colum2{
							> ul{
								li{
									width:50%;
									float:left;
									box-sizing:border-box;
									display:inline-block;
								}
							}
						}
					}
					> ul{
						display:none;
						background:#fff;
						padding:10px 0;
						border:1px solid #6a9fd1;
						position:absolute;
						left:195px;
						width:195px;
						top:0;
						z-index:2;
						>li{
							> a{
								display:block;
								padding:0 10px;
								font-size:14px;
								color:#666;
								line-height:24px;
								box-sizing:border-box;
								&:hover,
								&:focus{
									color:#699fd0;
								}
							}
						}
					}
				}
			}
		}
	}

}

#skipNavi{
	position:relative;
	z-index:9999;
	> a{
		position:relative;
		display:block;
		height:1px;
		width:1px;
		margin-bottom:-1px;
		overflow:hidden;
		font-size:16px;
		color:#fff;
		@include weight("B");
		background:$color2;
		white-space:nowrap;
		text-align:center;
		&:focus,
		&:active{
			height:auto;
			width:100%;
			padding:5px;
			margin-bottom:10px;
			position:absolute;
			left:0;
			top:0;
		}
	}
}

#container{
	.location{
		height:40px;
		background:#f9f9f9;
		> ul{
			width:1600px;
			margin:auto;
			> li{
				position:relative;
				float:left;
				line-height:40px;
				box-sizing:border-box;
				border-right:1px solid #ccc;
				> button {
					display:block;
					min-width:250px;
					padding-right:50px;
					padding-left:20px;
					height:40px;
					background:url(#{$img-common}bg_select.png) no-repeat right center;
					box-sizing:border-box;
					text-align:left;
				}
				> ul {
					display:none;
					border:none;
					background:#fff;
					position:absolute;
					width:100%;
					z-index:1;
					margin-left:-1px;
					border:1px solid #ccc;
					li{
						&:first-child{
							a{
								span{
									border-top:none;
								}
							}
						}
						a{
							display:block;
							padding:0 20px;
							&:hover,
							&:focus{
								> span{
									color:#7c9dbc;
								}
							}
							> span{
								display:block;
								font-size:14px;
								color:#666;
								line-height:40px;
								border-top:1px solid #ccc;
							}
						}
					}
				}
			}
			.home{
				width:56px;
				height:40px;
				background:#7c9dbc url(#{$img-common}bg_home.png) no-repeat center center;
				&:hover,
				&:focus,
				&:active{
					background:#ff904b url(#{$img-common}bg_home.png) no-repeat center center;
				}
				> a{
					display:block;
					position:absolute;
					height:40px;
					border:0;
					overflow:hidden;
					font-size:0;
					line-height:0;
					white-space:nowrap;
				}
			}
			.last{
				> button{
					color:$color2;
				}
			}
		}
	}
}

.contentsTop{
	background:#fff;
	border:1px solid #ccc;
	h2{
		line-height:62px;
		box-sizing:border-box;
		width:1600px;
		margin:auto;
	}
}
#contents{
	width:1600px;
	padding-bottom:60px;
	margin:auto;
	box-sizing:border-box;
	min-height:400px;
}
.contentsArea{
	width:100%;
	display:inline-block;
	vertical-align:top;
	> div{
		box-sizing:border-box;
		float:left;
		box-sizing:border-box;
		padding-left:15px;
		&:first-child{
			padding-right:15px;
			padding-left:0;
		}
	}
	&.col2{
		> div {
			width:50%;
		}

	}
	&.col3{
		> div {
			width:33%;
			&:nth-of-type(2){
				width:34%;
				padding-right:15px;
			}
		}

	}
}

.title1{
	font-size:22px;
	color:#444;
}
.title2{
	font-size:18px;
	padding:20px 0 15px;
	position:relative;
	color:#444;
	@include weight("N");
	overflow:hidden;
}
.tableHeader{
	margin-bottom:15px;
	text-align:right;
	vertical-align:top;
	&:after{
			content:"";
			display:block;
			clear:both;
		}
	.btnArea{
		display:inline-block;
		text-align:center;
		margin-top:0;
	}
	.tablePaging{
		display:inline-block;
		font-size:12px;
		color:#666;
		> strong{
			@include weight("N");
			&:after{
				content:"/";
				padding:0 5px;
				display:inline-block;
				color:#666;
				@include weight("N");
			}
		}
		> em{
			@include weight("N");
			&:after{
				content:"page";
				padding-left:5px;
				display:inline-block;
				color:#666;
				@include weight("N");
			}
		}
	}
}

#footer{
	border-top:2px solid #ccc;
	border-bottom:3px solid #f2f5f8;
	background:#e5e5e5;
	> div{
		position:relative;
		width:1600px;
		padding:20px 0;
		margin:auto;
		.logoKsa{
			display:inline-block;
			width:156px;
			height:40px;
			margin-top:10px;
		}
		.info{
			margin-left:20px;
			display:inline-block;
			> ul{
				>li{
					display:inline-block;
					padding-right:5px;
					padding-left:5px;
					margin-left:5px;
					border-left:1px solid #666;
					height:11px;
					line-height:11px;
					font-size:12px;
					color:#666;
					&:first-child{
						padding:0;
						margin:0;
						border:0;
					}
				}
			}
			address{
				display:block;
				font-style:normal;
			}
		}
		.contact{
			position:absolute;
			right:0;
			top:30px;
			padding-left:45px;
			background:#7c9dbc url(#{$img-common}bg_contact.png) no-repeat 20px 10px;
			font-size:12px;
			height:40px;
			line-height:40px;
			color:#fff;
			&:hover,
			&:focus{
				background:#ff903b url(#{$img-common}bg_contact.png) no-repeat 20px 10px;
				transition:all 0.3s;
				border:1px solid #ff904b;
				color:#fff;
			}
		}
	}
}

/* datepicker */
.dateBox{
	position:relative;
	display:inline-block;
	border:1px solid #d5d5d5;
	height:32px;
	vertical-align:middle;
		input {
		height:32px;
		line-height:32px;
		border:none;
	}
}
.ui-datepicker{
	width:236px;
	//display:none;
	.ui-icon {
		display:block;
		text-indent:-99999px;
		overflow:hidden;
		background-repeat:no-repeat;
	}
	&.ui-widget-content{
		background:#fff;
	}
	.ui-datepicker-header{
		position:relative;
		padding:10px 0;
		height:30px;
		background:#087ea5;
	}
	.ui-datepicker-prev{
		position:absolute;
		top:0;
		left:2px;
		width:20px;
		height:30px;
		display:inline-block;
		background:url(#{$img-common}btn_datapicker_prev.png) no-repeat center center;
	}
	.ui-datepicker-next{
		position:absolute;
		top:0;
		right:2px;
		width:20px;
		height:25px;
		display:inline-block;
		background:url(#{$img-common}btn_datapicker_next.png) no-repeat center center;
	}
	.ui-datepicker-title{
		overflow:hidden;
		height:25px;
		line-height:25px;
	}
	.ui-datepicker-title{
		select {
			float:right;
			padding:0 8px;
			height:28px;
			height:28px;
			font-size:12px;
			color:$color0;
			vertical-align:middle;
			width:78px;
			height:23x;
			
			&.ui-datepicker-month{
				margin:0 30px 0 5px;
				border:1px solid #ef8514;
			}
			&.ui-datepicker-year{
				border:1px solid #8acadf;
			}
		}
	}
	table{
		width:196px;
		font-size:12px;
		color:#333;
		border-collapse:collapse;
		margin:10px auto;
		td{
			span,
			a{
				display:block;
				width:22px;
				height:22px;
				line-height:22px;
				text-align:center;
				margin:auto;
				text-decoration:none;
				&:hover,
				&:focus{
					background:#087ea5;
					border-radius:10px;
					color:#fff;
				}
			}
		}
		thead{
			tr{
				&:first-child{
					th{
						padding:0;
						height:26px;
						line-height:26px;
						text-align:center;
					}
				}
			}
		}
		tbody{
			tr{
				td{
					&:first-child{
						a{
							color:#df3232;
							&:hover,
							&:focus{
								width:20px;
								height:20px;
								background:#087ea5;
								border-radius:10px;
								color:#fff;
							}
						}
					}
					&:nth-of-type(7){
						a{
							color:#326fdf;
							&:hover,
							&:focus{
								background:#087ea5;
								border-radius:10px;
								color:#fff;
							}
						}
					}
				}
			}
		}
	}
	.ui-datepicker-buttonpane {
		background-image:none;
		border:none;
		padding:0 18px 20px;
		display:block;
		vertical-align:top;
		button {
			float:right;
			overflow:visible;
			&.ui-datepicker-close{
				font-size:11px;
				color:$color0;
				background:#fff;
			}
			&.ui-datepicker-current{
				float:left;
				width:48px;
				height:19px;
				line-height:19px;
				font-size:10px;
				@include weight("B");
				color:#767676;
				border:1px solid #acacac;
				background:#eff1f2;
			}
		}

	}

}
.ui-datepicker-trigger{
	display:inline-block;
	width:32px;
	height:32px;
	vertical-align:top;
	font-size:0;
	background:url(#{$img-common}btn_datapicker.png) no-repeat center;
}

/* tab */
.tab {
	position:relative;
	> ul{
		display:table;
		table-layout:fixed;
		width:100%;
		height:45px;
		box-sizing:border-box;
		li{
			display:table-cell;
			box-sizing:border-box;
			background:#eaeef2;
			border-top:1px solid #bcc5d4;
			border-left:1px solid #bcc5d4;
			border-bottom:1px solid #333;
			&:first-child{
				border-left:1px solid #bcc5d4;
			}
			&:last-child{
				border-right:1px solid #bcc5d4;
			}
			a{
				position:relative;
				display:block;
				height:45px;
				line-height:45px;
				font-size:15px;
				letter-spacing:-1px;
				color:#666;
				text-align:center;
				box-sizing:border-box;
			}
			&.on{
			 	border-bottom:1px solid #fff;
			 	background:#fff;
			 	border-left:1px solid #eaeef2;
			 	border-right:1px solid #eaeef2;
			 	a{
			 		font-size:16px;
			 		color:$color1;
			 		@include weight("B");
			 		&:after{
			 			content:"";
			 			position:absolute;
			 			left:0;
			 			top:-1px;
			 			width:100%;
			 			height:46px;
			 			border-left:1px solid #333;
			 			border-right:1px solid #333;
			 			border-top:2px solid #df3232;
			 		}
			 	}
			}
			&.tab{
				> ul{
					li{
						a{
							&:hover,
							&:focus{
								font-size:16px;
								color:$color0;
							}
						}
					}
				}
			}
		}
	}
	.tabContent{
		> div{
			display:none;
			&.on{
				display:block;
			}
		}
	}
}

/* table */
table{
	tr{
		.necessory{
			position:relative;
			&:before{
				content:"*";
				display:inline-block;
				color:#df3232;
			}
		}
	}
}
.tableTy1 {
	table {
		width:100%;
	}
	tr{
		th {
			padding:13px 10px;
			font-size:14px;
			color:#fff;
			text-align:left;
			border-left:1px solid #d5d5d5;
			background:#7c8b9a;
		}
		td {
			padding:13px 10px;
			font-size:13px;
			color:#777;
			text-align:left;
			background:#fff;
			border-bottom:1px solid #d5d5d5;
			border-left:1px solid #d5d5d5;
		}
	}
	thead{
		th{
			text-align:center;
			&:first-child{
				border-left:0;
			}
			
		}
	}
	tbody{
		th{
			border-top:1px solid #d5d5d5;
			border-left:1px solid #d5d5d5;
			
		}
		td{
			border-top:1px solid #d5d5d5;
			&:first-child{
				border-left:0;
			}
		}
	}
	// Y Scroll
	&.scrollY{
		.body{
			height:200px; // 임시
			overflow-y:auto;
		}
	}
	+ .btnArea{
		margin-top:10px;
	}

}
.tableTy2 {
	border:1px solid #bcc8d4;
	background:#d0dce7;
	padding-bottom:12px;
	+ .btnArea{
		margin-top:10px;
	}

	table {
		width:100%;
		table-layout:fixed;
	}
	tr {
		th {
			padding:12px 15px 0 20px;
			font-size:14px;
			color:$color0;
			background:#d0dce7;
			text-align:left;
		}
		td {
			padding:12px 20px 0 0;
			font-size:14px;
			background:#d0dce7;
			input{
					&:first-child{
						margin-left:0;
					}
			}
		}
	}
}
.dot{
	display:inline-block;
	width:1px;
	height:2px;
	background:#666;
	text-align:center;
	margin:0 2px

}

/* radio */
.radioBox {
	position:relative;
	display:inline-block;
	line-height:24px;
	vertical-align:middle;
	+ .radioBox{
		margin-right:20px;
	}
	input{
		position:absolute;
		left:0;
		top:0;
		visibility:hidden;
		&[type="radio"]{
			&:checked{
				+ label{
					background:url(#{$img-common}bg_radio_on.png) no-repeat left center;
				}
			}
			&:disabled{
				+ label{
				background:url(#{$img-common}bg_radio_disable.png) no-repeat 0 5px;
				}
				&:checked{
					+ label{
						background:url(#{$img-common}bg_radio_disable_on.png) no-repeat 0 5px;
					}
				}
			}
		}
	}
	label{
		display:block;
		padding-left:23px;
		font-size:14px;
		color:#4c4c4c;
		background:url(#{$img-common}bg_radio.png) no-repeat 0 5px;cursor:pointer;
		// &:hover {
		// 	background:url(#{$img-common}bg_radio_over.png) no-repeat 0 5px;
		// }

	}
	&.blindLable{
		width:18px;
		margin-left:0;
		label{
			padding-left:15px !important;
			text-indent:-9999px;
			overflow:hidden;
		}
	}
}

/* checkbox */
.checkBox {
	position:relative;
	display:inline-block;
	line-height:24px;
	vertical-align:middle;
	+ .checkBox{
		margin-left:20px;
	}
	input{
		position:absolute;
		left:0;
		top:0;
		visibility:hidden;
		&[type="checkbox"]{
			&:checked{
				+ label{
					background:url(#{$img-common}bg_check_on.png) no-repeat 0 5px;
				}
			}
			&:disabled{
				+ label{
					background:url(#{$img-common}bg_check_disable.png) no-repeat 0 5px;
				}
				&:checked{
					+ label{
						background:url(#{$img-common}bg_check_disable_on.png) no-repeat 0 5px;
					}
				}
			}
		}
	}
	label {
		display:block;
		padding-left:23px;
		font-size:14px;
		color:#4c4c4c;
		background:url(#{$img-common}bg_check.png) no-repeat 0 5px;
		cursor:pointer;
 		// &:hover{
 		// 	background:url(#{$img-common}bg_check_over.png) no-repeat 0 5px;
 		// }
	}
	&.blindLable{
		width:17px;
		margin-left:0;
		label{
			padding-left:15px !important;
			text-indent:-9999px;
			overflow:hidden;
		}
	}
}

/* paging */
.paging{
	height:38px;
	line-height:38px;
	text-align:center;
	margin-top:22px;
	> a{
		display:inline-block;
		overflow:hidden;
		font-size:0;
		line-height:0;
		white-space:nowrap;
		background:#fff;
		width:38px;
		height:38px;
		border:1px solid #e7e7e7;
		box-sizing:border-box;
	}
	> span{
		display:inline-block;
		height:38px;
		margin:0 15px;
		vertical-align:top;
		> a{
			display:inline-block;
			background:#fff;
			min-width:38px;
			padding:0px 6px 0 2px;
			height:38px;
			line-height:38px;
			border:1px solid #e7e7e7;
			font-size:13px;
			color:$color0;
			text-align:center;
			box-sizing:border-box;
		}
		strong{
			display:inline-block;
			background:#fff;
			min-width:38px;
			padding:0px 6px 0 2px;
			height:38px;
			line-height:38px;
			border:1px solid #e7e7e7;
			font-size:13px;
			color:$color0;
			text-align:center;
			box-sizing:border-box;
			@include weight("N");
			&.on,
			&:hover,
			&:focus{
				color:$color2;
				transition:all 0.3s;
			}
		}
	}
	.first{
		background:#fff url(#{$img-common}bg_page_first.png) no-repeat center;
		&:hover,
		&:focus{
			background-image:url(#{$img-common}bg_page_first_over.png);
		}

	}
	.previous{
		background:#fff url(#{$img-common}bg_page_previous.png) no-repeat center;
		margin-left:-5px;
		&:hover,
		&:focus{
			background-image:url(#{$img-common}bg_page_previous_over.png);
		}
	}
	.next{
		background:#fff url(#{$img-common}bg_page_next.png) no-repeat center;
		&:hover,
		&:focus{
			background-image:url(#{$img-common}bg_page_next_over.png);
		}
	}
	.end{
		background:#fff url(#{$img-common}bg_page_end.png) no-repeat center;
		margin-left:-5px;
		&:hover,
		&:focus{
			background-image:url(#{$img-common}bg_page_end_over.png);
		}
	}
}

/* button */
.btnArea{
	text-align:center;
	// > div{
	// 	&.fR{
	// 		> * {
	// 			margin-left:4px;
	// 		}
	// 	}
	// }
	.btn,
	.btnSmall{
		margin-left:4px;
		&:first-child{
			margin-left:0;
		}
	}
}
.btn{
	display:inline-block;
	padding:0 19px;
	height:34px;
	font-size:15px;
	@include weight('B');
	color:#fff;
	line-height:32px;
	margin-left:4px;
}
.btnSmall{
	display:inline-block;
	padding:0 10px;
	height:28px;
	font-size:12px;
	color:#fff;
	line-height:28px;
}
.btnBlue{
	background:#7c9dbc;
	border:1px solid #718fac;
	&:hover,
	&:focus{
		background:#ff903b;
		border:1px solid #ff903b;
		transition:all 0.3s;
	}
}
.btnWhite{
	background:#fff;
	border:1px solid #7f8f9e;
	color:#666;
	&:hover,
	&:focus{
		border:1px solid #ee1c23;
		color:#ee1c23;
		transition:all 0.3s;
	}
}
.btnRed{
	background:#ffbfbf;
	border:1px solid #f2151a;
	color:#f2151a;
}
	
.btnGray{
	background:#f2f2f2;
	border:1px solid #bfbfbf;
	color:#999;
}

.popup{
	position:relative;
	.popHeader{
		height:60px;
		background:#7d8d9c;
		> h1{
			padding-left:20px;
			line-height:60px;
			font-size:18px;
			color:#fff;
		}
	}
	.popContent{
		background:#fff;
		padding:20px 18px;
		min-height:340px;
		font-size:13px;
		color:$color0;
	}
	.popBottom{
		height:30px;
		padding:0 20px;
		line-height:30px;
		border-top:1px solid #d5d5d5;
		background:#e5e5e5;
		text-align:right;
		.todayClose{
			+ label{
				display:inline-block;
				font-size:12px;
				color:$color0;
				vertical-align:top;
			}
		}
	}
	.close{
		position:absolute;
		top:0;
		right:0;
		width:60px;
		height:60px;
		background:url(#{$img-common}btn_popclose.png) no-repeat;
		font-size:0;
	}

}