@charset "UTF-8";
@import "config.scss";
//@import "layout.scss";

/*
* Creat : Madive 손상만
* Creat Date : 2017-07-10
* Last Update : 2017-07-24
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
p,p
iframe,
figure
{
	margin:0;
	padding:0;
	font-size:inherit;
	word-break:keep-all;
	word-break:break-word
}
h1,
h2,
h3,
h4,
h5,
h6
{
	@include weight("N");
}

header,
hgroup,
footer,
section,
article,
aside,
nav,
canvas,
figure,
figcaption
{
	display:block;
}

table{
	font-size:inherit;
	border-collapse:collapse;
	border-spacing:0;
	table-layout:fixed
}

th,
td
{
	word-wrap:break-word;
	word-break:break-all;
	@include weight("N")
}

fieldset,
iframe
{
	border:0;
	vertical-align:top
}

img{
	border:0;
	font-size:0;
	vertical-align:top
}

li,dd
{
	list-style:none;
	word-break:keep-all;
	word-break:break-word
}

hr{
	display:none
}
strong{
	@include weight("B");
}
caption,
figcaption{
	overflow:hidden;
	width:100%;
	height:1px;
	font-size:0;
	line-height:0;
	text-indent:-9999px;
	margin-top:-1px
}

legend{
	display:block;
	position:absolute;
	left:-9999px;
	text-indent:9999px;
	width:0;
	height:0;
	overflow:hidden;
	font-size:0;
	line-height:0;
	white-space:nowrap
}

button{
	padding:0;
	border:0;
	cursor:pointer;
	background:none;
	vertical-align:middle;
	appearance:none;
	moz-appearance:none;
	font-family:$font;
	color:$color0;
	letter-spacing:-1.0px
}

h1,
h2,
h3,
h4,
h5,
h6
{
	font-size:100%;
}

a{
	color:$color0;
	text-decoration:none;
	&:hover,
	&:hover
	{
		text-decoration:none
	}
}

em,
i
{
	font-style:normal
}

select{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	color:$color0;
	vertical-align:middle;
	border-radius:0;
	&:disabled{
		background-color:#f2f2f2;
		color:#999;
	}
}

input{
	margin:0;
	padding:0;
	font-family: inherit;
	font-size:inherit;
	color:$color0;
	line-height:17px;
	vertical-align:top;
	-webkit-border-radius:0;
	&[type="text"],
	&[type="password"],
	&[type="tel"],
	&[type="file"]
	{
		width:350px;
		height:34px;
		line-height:34px;
		box-sizing:border-box;
		padding-left:10px;
		border:none;
		background:#fff;
		-webkit-appearance:none;
		&:focus{
			border: 2px solid #7c9dbc;
		}
		&:disabled{ //미정
			background-color:#f2f2f2;
			color:#999;
		}
		&.txt{
			border:1px solid #d5d5d5;
		}
	}
	&[type="radio"]
	{
		width:17px;
		height:17px;
		vertical-align:-1px
	}
	&[type="checkbox"]
	{
		width:13px;
		height:13px;
		vertical-align:-1px
	}
}

textarea{
	-webkit-appearance:none;
	-webkit-border-radius:0;
	border:1px solid #ccc;
	color:$color0;
	background:#fff;
	padding:15px;
	font-size:15px;
	width:100%;
	box-sizing:border-box;
}

body{
	font-style:normal;
	font-size:14px;
	font-family:$font;
	color:$color0;
	background:#fff;
	letter-spacing:-1.0px;
	-webkit-text-size-adjust:100%;
	-moz-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}
/* 요소 숨김 */
.blind{
	display:block;
	position:absolute;
	width:0;
	height:0;
	border:0;
	overflow:hidden;
	font-size:0;
	line-height:0;
	white-space:nowrap
}

/* Interval Type */
.interval0{
	margin-top:0px !important;
}
.interval1{
	margin-top:10px !important;
}
.interval2{
	margin-top:20px !important;
}
.interval3{
	margin-top:30px !important;
}
.interval4{
	margin-top:40px !important;
}
.interval5{
	margin-top:50px !important;
}

/* Align type */
.fL{
	float:left !important
}
.fR{
	float:right !important
}
.tL{
	text-align:left !important
}
.tC{
	text-align:center !important
}
.tR{
	text-align:right !important
}
.vT{
	vertical-align:top !important
}
.vM{
	vertical-align:middle !important
}
.vB{
	vertical-align:bottom !important
}
.vN{
	vertical-align:0 !important
}

/* 포인트 컬러 */
.fontColor1{
	color:$color0 !important;
}
.fontColor2{
	color:$color1 !important;
}
.fontColor3{
	color:$color2 !important;
}
.fontColor4{
	color:$color3 !important;
}
.fontColor5{
	color:$color4 !important;
}

.fontColor6{
	color:#2f9fbb !important;
}


/* 폼요소 너비 */
.widAll{
	width:100%;
}

// 셀렉트 박스
.selectBox{
	display:inline-block;
	.designSelect{
		position:relative;
		background:#fff;
		border:1px solid #d5d5d5;
		&.on{
			button{
				border:2px solid #7c9dbc;
				background-image:url(#{$img-common}bg_select_over.png);
			}
		}
		button{
			//border:1px solid #d5d5d5;
			padding:0 47px 0 10px;
			width:100%;
			height:34px;
			background:url(#{$img-common}bg_select.png) no-repeat right center;
			line-height:34px;
			box-sizing:border-box;
			text-align:left;
			font-size:14px;
			color:$color0;
		}
	}
	ul{
		display:none;
		border:none;
		background:#fff;
		border:1px solid #ccc;
		position:absolute;
		left:0;
		top:34px;
		box-sizing:border-box;
		width:100%;
		padding:10px 0;
		z-index:1;
		li{
			a{
				display:block;
				padding:0 10px;
				font-size:13px;
				color:#666;
				line-height:22px;
				text-align:left;
				&:hover,
				&:focus{
					color:#7c9dbc;
				}
			}
		}
	}
}
.title1{
	padding-left:17px;
	font-size:22px;
	color:#777;
	@include weight("B");
	background:url(#{$img-common}bg_title1.png) no-repeat left center;
}
.title2{
	padding-left:12px;
	font-size:18px;
	position:relative;
	color:#7a7a7a;
	@include weight("B");
	overflow:hidden;
	background:url(#{$img-common}bg_title2.png) no-repeat left center;
	+ .tableTy1,
	+ .tableTy2,
	+ .tableHeader,
	+ .contentsArea,
	{
		margin-top:15px;
	}
}
.blit{
	position:relative;
	padding:10px 0;
	font-size:13px;
	padding-left:8px;
	text-align:left;
	&:before{
		content:"";
		position:absolute;
		left:0;
		top:18px;
		width:3px;
		height:3px;
		background:#666;
		display:inline-block;
	}

}

.tableHeader{
	width:100%;
	display:inline-block;
	vertical-align:top;
	> h3{
		float:left;
	}
	.fR{
		padding-top:20px;
	}
	.btn_ico{
		margin-left:1px;
	}
	+ .tableTy1{
		margin-top:15px;
	}
	.tablePaging{
		display:inline-block;
		font-size:12px;
		color:#666;
		margin-right:10px;
		> strong{
			@include weight("N");
			&:after{
				content:"/";
				padding:0 5px;
				display:inline-block;
				color:#666;
				@include weight("N");
			}
		}
		> em{
			@include weight("N");
			&:after{
				content:"page";
				padding-left:5px;
				display:inline-block;
				color:#666;
				@include weight("N");
			}
		}
	}
	.selectBox{
		margin-left:1px;
		.designSelect{
			button{
				height:26px;
				line-height:26px;
			}
		}
		ul{
			top:26px !important;
		}
	}
}

/* datepicker */
.dateBox{
	position:relative;
	display:inline-block;
	border:1px solid #d5d5d5;
	height:32px;
	vertical-align:middle;
	input {
		height:32px;
		width:133px;
		line-height:32px;
		border:none;
	}
}
.dateArea{
	.dateWrap,
	.dateBtn{
		display:inline-block;
		vertical-align:top;
	}
}
.ui-datepicker{
	width:236px;
	.ui-icon {
		display:block;
		overflow:hidden;
		font-size:0;
		height:0;
	}
	&.ui-widget-content{
		background:#fff;
		border:1px solid #ccc;
	}
	.ui-datepicker-header{
		position:relative;
		padding:10px 0;
		background:#087ea5;
		width:238px;
		left:-1px;
		top:0;

	}
	.ui-datepicker-prev{
		position:absolute;
		top:11px;
		left:16px;
		width:25px;
		height:25px;
		display:inline-block;
		background:#05495f;
		border-radius:10px;
		background:url(#{$img-common}btn_datapicker_prev.png) no-repeat center center;
		&:hover,
		&:focus{
			background:url(#{$img-common}btn_datapicker_prev_over.png) no-repeat center center;

		}
	}
	.ui-datepicker-next{
		position:absolute;
		top:11px;
		right:16px;
		width:25px;
		height:25px;
		display:inline-block;
		background:#05495f;
		border-radius:10px;
		background:url(#{$img-common}btn_datapicker_next.png) no-repeat center center;
		&:hover,
		&:focus{
			background:url(#{$img-common}btn_datapicker_next_over.png) no-repeat center center;
		}
	}
	.ui-datepicker-title{
		overflow:hidden;
		height:25px;
		width:140px;
		margin:auto;
		text-align:center;
	}
	.ui-datepicker-title{
		select {
			float:right;
			padding-left:8px;
			height:25px;
			font-size:14px;
			@include weight("B");
			color:$color0;
			vertical-align:middle;
			background:#fff url(#{$img-common}bg_selectdate.png) no-repeat right center;
			padding-right:23px;
			border:1px solid #8acadf;
			&:active,
			&:hover,
			{
				background-image:url(#{$img-common}bg_selectdate_over.png);
				border:1px solid #ef8514;
			}
			&.ui-datepicker-year{
				margin-right:5px;
			}
		}
	}
	table{
		width:196px;
		font-size:14px;
		color:#333;
		border-collapse:collapse;
		margin:10px auto;
		td{
			span,
			a{
				display:block;
				width:22px;
				height:22px;
				line-height:22px;
				text-align:center;
				margin:auto;
				text-decoration:none;
				&:hover,
				&:focus,
				&.ui-state-active{
					background:#087ea5;
					border-radius:11px;
					color:#fff !important;
				}
			}
			&:first-child{
				a{
					color:$color4;
				}
			}
			&:nth-of-type(7){
				a{
					color:$color5;
				}
			}
		}
		thead{
			tr{
				&:first-child{
					th{
						padding:0;
						height:26px;
						line-height:26px;
						text-align:center;
						color:#7e8da3;
						&:first-child{
							color:#ee1c23;
						}
						&:last-child{
							color:#3462cc;
						}
					}
				}
			}
		}
		// tbody{
		// 	tr{
		// 		td{
		// 			a{
		// 				&.ui-state-active{

		// 				}
		// 			}
		// 			&:first-child{
		// 				a{
		// 					color:$color4;
		// 					// &:hover,
		// 					// &:focus{
		// 					// 	width:20px;
		// 					// 	height:20px;
		// 					// 	background:#087ea5;
		// 					// 	border-radius:10px;
		// 					// 	color:#fff;
		// 					// }
		// 				}
		// 			}
		// 			&:nth-of-type(7){
		// 				a{
		// 					color:$color5;
		// 					// &:hover,
		// 					// &:focus{
		// 					// 	color:#fff;
		// 					// }
		// 				}
		// 			}
		// 		}
		// 	}
		// }
	}
	.ui-datepicker-buttonpane {
		display:none;
	}
	.ui-priority-primary,
	.ui-widget-content .ui-priority-primary,
	.ui-widget-header .ui-priority-primary {
		font-weight:bold;
	}
}
.ui-datepicker-trigger{
	display:inline-block;
	width:32px;
	height:32px;
	vertical-align:top;
	font-size:0;
	background:url(#{$img-common}btn_datapicker.png) no-repeat center;
}

/* tab */
.tab {
	position:relative;
	margin-bottom:10px;
	> ul{
		display:table;
		table-layout:fixed;
		height:36px;
		box-sizing:border-box;
		margin-bottom:10px;
		li{
			display:table-cell;
			box-sizing:border-box;
			background:#f6f6f6;
			border-top:1px solid #d5d5d5;
			border-left:1px solid #d5d5d5;
			&:first-child{
				border-left:1px solid #d5d5d5;
			}
			&:last-child{
				border-right:1px solid #d5d5d5;
			}
			a{
				position:relative;
				display:block;
				min-width:134px;
				height:36px;
				line-height:36px;
				text-align:center;
				box-sizing:border-box;
			}
			&.on{
			 	background:#fff;
			 	a{
			 		&:after{
			 			content:"";
			 			position:absolute;
			 			left:0;
			 			top:-1px;
			 			width:100%;
			 			height:36px;
			 			border-left:1px solid #d5d5d5;
			 			border-right:1px solid #d5d5d5;
			 			border-top:2px solid #7c9dbc;
			 		}
			 	}
			}
			&.tab{
				> ul{
					li{
						a{
							&:hover,
							&:focus{
								color:$color0;
							}
						}
					}
				}
			}
		}
	}
	.tabContent{
		> div{
			display:none;
			&.on{
				display:block;
			}
		}
	}
}

/* table */
table{
	tr{
		.necessory{
			position:relative;
			&:before{
				content:"*";
				display:inline-block;
				color:#df3232;
			}
		}
	}
}
.tableTy1 {
	margin-top:20px;
	table {
		width:100%;
	}
	tr{
		th {
			padding:13px 10px;
			font-size:14px;
			color:#fff;
			text-align:left;
			border-left:1px solid #d5d5d5;
			background:#7c8b9a;
		}
		td {
			padding:13px 10px;
			font-size:14px;
			color:#777;
			text-align:left;
			background:#fff;
			border-bottom:1px solid #d5d5d5;
			border-left:1px solid #d5d5d5;
		}
	}
	thead{
		th{
			text-align:center;
			&:first-child{
				border-left:0;
			}
		}
	}
	tbody{
		tr{
			&:hover,
			&:focus{
				td{
					background:#fbfbfb;
				}
			}
			&.add{
				td{
					background:#f4faff;
				}
			}
			th{
				border-top:1px solid #d5d5d5;
				border-left:none;
			}
			td{
				border-top:1px solid #d5d5d5;
				color:$color0;
				&:first-child{
					border-left:0;
				}
			}
		}
	}
	// Y Scroll
	&.scrollY{
		.body{
			height:200px; // 임시
			overflow-y:auto;
		}
	}
	+ .btnArea{
		margin-top:20px;
	}
	&.ty1{
		tbody{
			tr{
				&:hover,
				&:focus{
					th{
						background:#7c8b9a;
					}
					td{
						background:#fff;
					}
				}
			}
		}
	}

}
.tableTy2 {
	border:1px solid #bcc8d4;
	background:#d0dce7;
	padding-bottom:12px;
	+ .btnArea{
		margin-top:10px;
	}

	table {
		width:100%;
		table-layout:fixed;
	}
	tr {
		th {
			padding:12px 15px 0 20px;
			font-size:14px;
			color:$color0;
			background:#d0dce7;
			text-align:left;
		}
		td {
			padding:12px 20px 0 0;
			font-size:14px;
			background:#d0dce7;
			input{
				&:first-child{
					margin-left:0;
				}
				.dateBox{
					height:34px;
					border:none;
				}

			}
		}
	}
}
.dot{
	display:inline-block;
	width:1px;
	height:2px;
	background:#666;
	text-align:center;
	margin:0 2px;
}

/* radio */
.radioBox {
	position:relative;
	display:inline-block;
	line-height:24px;
	vertical-align:middle;
	+ .radioBox{
		margin-left:20px;
	}
	input{
		position:absolute;
		left:0;
		top:0;
		visibility:hidden;
		&[type="radio"]{
			&:checked{
				+ label{
					background:url(#{$img-common}bg_radio_on.png) no-repeat 0 5px;
				}
			}
			&:disabled{
				+ label{
				background-image:url(#{$img-common}bg_radio_disable.png);
				}
				&:checked{
					+ label{
						background-image:url(#{$img-common}bg_radio_disable_on.png);
					}
				}
			}
		}
	}
	label{
		display:block;
		padding-left:23px;
		font-size:14px;
		color:#4c4c4c;
		background:url(#{$img-common}bg_radio.png) no-repeat 0 5px;
		cursor:pointer;
	}
	&.blindLable{
		width:18px;
		margin-left:0;
		label{
			padding-left:15px !important;
			text-indent:-9999px;
			overflow:hidden;
		}
	}
}

/* checkbox */
.checkBox {
	position:relative;
	display:inline-block;
	line-height:24px;
	vertical-align:middle;
	+ .checkBox{
		margin-left:20px;
	}
	input{
		position:absolute;
		left:0;
		top:0;
		visibility:hidden;
		&[type="checkbox"]{
			&:checked{
				+ label{
					background:url(#{$img-common}bg_check_on.png) no-repeat 0 5px;
				}
			}
			&:disabled{
				+ label{
					background-image:url(#{$img-common}bg_check_disable.png);
				}
				&:checked{
					+ label{
						background-image:url(#{$img-common}bg_check_disable_on.png);
					}
				}
			}
		}
	}
	label {
		display:block;
		padding-left:23px;
		font-size:14px;
		color:#4c4c4c;
		background:url(#{$img-common}bg_check.png) no-repeat 0 5px;
		cursor:pointer;
 		// &:hover{
 		// 	background:url(#{$img-common}bg_check_over.png) no-repeat 0 5px;
 		// }
	}
	&.blindLable{
		width:17px;
		margin-left:0;
		label{
			padding-left:15px !important;
			text-indent:-9999px;
			overflow:hidden;
		}
	}
}

/* paging */
.paging{
	height:38px;
	line-height:38px;
	text-align:center;
	margin-top:25px;
	> a{
		display:inline-block;
		overflow:hidden;
		font-size:0;
		line-height:0;
		white-space:nowrap;
		background:#fff;
		width:38px;
		height:38px;
		border:1px solid #e7e7e7;
		box-sizing:border-box;
	}
	> span{
		display:inline-block;
		height:38px;
		margin:0 15px;
		vertical-align:top;
		> a{
			display:inline-block;
			background:#fff;
			min-width:38px;
			padding:0px 6px 0 2px;
			height:38px;
			line-height:38px;
			border:1px solid #e7e7e7;
			font-size:13px;
			color:$color0;
			text-align:center;
			box-sizing:border-box;
			&.on,
			&:hover,
			&:focus{
				color:#fff;
				background:#7e9fbd;
				transition:all 0.3s;
			}
		}
		strong{
			display:inline-block;
			background:#fff;
			min-width:38px;
			padding:0px 6px 0 2px;
			height:38px;
			line-height:38px;
			border:1px solid #e7e7e7;
			font-size:13px;
			color:$color0;
			text-align:center;
			box-sizing:border-box;
			@include weight("N");
			&.on,
			&:hover,
			&:focus{
				color:#fff;
				background:#7e9fbd;
				transition:all 0.3s;
			}
		}
	}
	.first{
		background:#fff url(#{$img-common}btn_page_first.png) no-repeat center;
		&:hover,
		&:focus{
			background-image:url(#{$img-common}btn_page_first_over.png);
		}

	}
	.previous{
		background:#fff url(#{$img-common}btn_page_previous.png) no-repeat center;
		margin-left:-5px;
		&:hover,
		&:focus{
			background-image:url(#{$img-common}btn_page_previous_over.png);
		}
	}
	.next{
		background:#fff url(#{$img-common}btn_page_next.png) no-repeat center;
		&:hover,
		&:focus{
			background-image:url(#{$img-common}btn_page_next_over.png);
		}
	}
	.end{
		background:#fff url(#{$img-common}btn_page_end.png) no-repeat center;
		margin-left:-5px;
		&:hover,
		&:focus{
			background-image:url(#{$img-common}btn_page_end_over.png);
		}
	}
}

/* button */
.btnArea{
	text-align:center;
	margin-bottom:30px;
}
.btn{
	display:inline-block;
	padding:0 19px;
	height:34px;
	line-height:34px;
	box-sizing:border-box;
	font-size:15px;
	@include weight('B');
	color:#fff;
	+ .btn{
		margin-left:4px;
	}
}
.btnSmall{
	display:inline-block;
	padding:0 10px;
	height:28px;
	font-size:12px;
	color:#fff;
	line-height:28px;
	+ .btnSmall{
		margin-left:4px;
	}
}
.btnBlue{
	background-color:#7c9dbc;
	border:1px solid #718fac;
	&:hover,
	&:focus{
		background-color:#ff903b;
		border:1px solid #ff903b;
		transition:all 0.3s;
	}
}
.btnWhite{
	background-color:#fff;
	border:1px solid #7f8f9e;
	color:#666;
	&:hover,
	&:focus{
		border:1px solid #ee1c23;
		color:#ee1c23;
		transition:all 0.3s;
	}
}
.btnRed{
	background-color:#ffbfbf;
	border:1px solid #f2151a;
	color:#f2151a;
}

.btnGray{
	background-color:#f2f2f2;
	border:1px solid #bfbfbf;
	color:#999;
}

.btn_ico{
	background:#fff;
	border:1px solid #718fac;
	color:$color2;
	display:inline-block;
	padding:0 10px;
	height:26px;
	font-size:14px;
	line-height:26px;
	+ .btn{
		margin-left:4px;
	}
	&:hover,
	&:focus{
		border:1px solid #ee1c23;
		color:$color4;
		transition:all 0.3s;
	}
	&.btnPrint{
		padding-left:35px;
		background:url(#{$img-common}btn_print_s.png) no-repeat 10px center;
		&:hover,
		&:focus{
			background-image:url(#{$img-common}btn_print_s_over.png);
		}
	}
	&.btnPdf{
		padding-left:30px;
		background:url(#{$img-common}btn_pdf_s.png) no-repeat 10px center;
		&:hover,
		&:focus{
			background-image:url(#{$img-common}btn_pdf_s_over.png);
		}
	}
}
.btnPrint{
	padding-left:35px;
	background-image:url(#{$img-common}btn_print.png);
	background-repeat:no-repeat;
	background-position:10px center;

}
.btnPdf{
	padding-left:30px;
	background-image:url(#{$img-common}btn_pdf.png);
	background-repeat:no-repeat;
	background-position:10px center;
}
.btnLink{
	color:$color2;
	text-decoration:underline;
	&:hover,
	&:focus{
		text-decoration:underline;
	}

}
.popup{
	position:relative;
	.popHeader{
		height:60px;
		background:#7d8d9c;
		> h1{
			padding-left:20px;
			line-height:60px;
			font-size:18px;
			color:#fff;
		}
	}
	.popContent{
		background:#fff;
		padding:20px 18px;
		min-height:340px;
		font-size:13px;
		color:$color0;
	}
	.popBottom{
		height:30px;
		padding:0 20px;
		line-height:30px;
		border-top:1px solid #d5d5d5;
		background:#e5e5e5;
		text-align:right;
		.todayClose{
			+ label{
				display:inline-block;
				font-size:12px;
				color:$color0;
				vertical-align:1px;
			}
		}
	}
	.close{
		position:absolute;
		top:0;
		right:0;
		width:60px;
		height:60px;
		background:url(#{$img-common}btn_popclose.png) no-repeat;
		font-size:0;
	}
}

.fileBox{
	display:inline-block;
	position:relative;
	input{
		&[type="file"] {
		position:absolute;
		top:0px;
		right:0px;
		width:96px;
		height:34px;
		opacity:0;
		}
	}
	label{
		display: inline-block;
		padding:0 19px;
		height:32px;
		line-height:34px;
		background:#7c9dbc;
		border:1px solid #718fac;
		font-size:15px;
		color:#fff;
		cursor:pointer;
		&:hover,
		&:focus{
			background:#ff903b;
			border:1px solid #ff903b;
			transition:all 0.3s;
		}
	}
	.fileHidden{

	}
	&.ty1{

	}
}

.fileList{
	margin-top:10px;
	> span{
		border:1px solid #d5d5d5;
		display:inline-block;
		img{
			display:block;
		}
	}
}
