@charset "UTF-8";
@import "config.scss";
/*
* Creat : Madive 손상만
* Creat Date : 2017-07-10
* Last Update : 2017-07-25
*/
#skipNavi{
	position:relative;
	z-index:9999;
	> a{
		position:relative;
		display:block;
		height:1px;
		width:1px;
		margin-bottom:-1px;
		overflow:hidden;
		font-size:16px;
		color:#fff;
		@include weight("B");
		background:$color2;
		white-space:nowrap;
		text-align:center;
		&:focus,
		&:active{
			height:auto;
			width:100%;
			padding:5px;
			margin-bottom:10px;
			position:absolute;
			left:0;
			top:0;
		}
	}
}
#wrap{
	width:100%;
	min-width:1600px;
	margin:auto;
}
#header{
	height:99px;
	background:#404652;
	border-bottom:2px solid #d75605;
	> div{
		width:1600px;
		margin:auto;
	}
	.utill{
		position:relative;
		padding-top:15px;
		> h1{
			width:226px;
			height:32px;
			> a{
				display:block;
				height:32px;
			}
		}
		.right{
			position:absolute;
			right:0;
			top:20px;
			.user{
				padding-left:35px;
				padding-right:6px;
				line-height:28px;
				background:url(#{$img-common}bg_user.png) no-repeat left center;
				color:#c8ceda;
			}
			> li{
				display:inline-block;
				font-size:12px;
				color:#c8ceda;
				line-height:28px;
				> a{
					position:relative;
					padding:0 10px;
					display:inline-block;
					font-size:12px;
					color:#c8ceda;
					&:hover,
					&:focus{
						color:#96c7f4;
					}
				}
				&:before{
					content:"";
					display:inline-block;
					width:1px;
					height:11px;
					background:#c8ceda;
				}
				&:first-child{
					margin-left:0;
					&:before{
						display:none;
					}
				}
			}
		}
	}
}
.exchange{
	//position:relative;
	margin-left:10px;
	&:before{
		display:none !important;
	}
	button{
		width:114px;
		height:27px;
		font-size:0;
		background:url(#{$img-common}btn_exchange.png) no-repeat;
		&:hover,
		&:focus{
			background-image:url(#{$img-common}btn_exchange_over.png);
			transition:all 0.3s;
		}
		
	}
}
.exchangePop{
	position:absolute;
	right:0;
	top:40px;
	width:252px!important;
	border:1px solid #d0d0d0;
	border-top:4px solid #ef393d;
	background:#fff;
	z-index:20;
	.head{
		height:46px;
		line-height:46px;
		padding:0 10px; 
		color:$color4;
		@include weight("B");
	}
	.tableTy1{
		table{
			tr{
				th{
					height:33px;
					line-height:33px;
					padding:0 10px;
				}
				td{
					height:28px;
					line-height:28px;
					padding:0 10px;

				}
			}
		}
	}
	.exClose{
		position:absolute;
		right:0;
		top:0;
		width:40px;
		height:45px;
		background:url(#{$img-common}btn_exclose.png) no-repeat center;
		overflow:hidden;
		font-size:0;
		white-space:nowrap;
	}
}


#gnb{
	> ul{
		display:inline-block;
		vertical-align:top;
		> li{
			position:relative;
			float:left;
			margin-left:2px;
			&:first-child{
				margin-left:0;
				> a{
					padding-left:0;
				}
			}
			&.on{
				> a{
					color:#96c7f4;
				}
			}
			> a{
				display:inline-block;
				padding:15px 34px;
				font-size:18px;
				color:#c8ceda;
				height:24px;
				&:hover,
				&:focus{
				}
			}
			> ul {
				display:none;
				background:#fff;
				border:1px solid #6a9fd1;
				position:absolute;
				left:0;
				top:54px;
				box-sizing:border-box;
				z-index:2;
				> li{
					position:relative;
					height:40px;
					border-top:1px solid #6a9ed0;
					&:first-child{
						border-top:none;
					}
					> a{
						display:block;
						min-width:195px;
						padding:8px 28px 8px 10px;
						font-size:16px;
						color:#666;
						line-height:24px;
						box-sizing:border-box;
						//border-top:1px solid #6a9ed0;
						&:hover,
						&:focus{
							color:#96c7f4;
						}
					}
					&.depth{
						> a{
							background:#fff url(#{$img-common}bg_gnb_arrow.png) no-repeat right center;
							&:hover,
							&:focus{
								background:#6a9fd1 url(#{$img-common}bg_gnb_arrow_over.png) no-repeat right center;
								color:#fff;
							}
						}
						&.on{
							> ul {
								display:block;
							}
							> a{
								color:#fff;
								background:#6a9fd1 url(#{$img-common}bg_gnb_arrow_over.png) no-repeat right center;
							}
						}
						&.colum2{
							> ul{
								li{
									width:50%;
									float:left;
									box-sizing:border-box;
									display:inline-block;
								}
							}
						}
					}
					> ul{
						display:none;
						background:#fff;
						padding:10px 0;
						border:1px solid #6a9fd1;
						position:absolute;
						left:195px;
						width:195px;
						top:-1px;
						z-index:2;
						>li{
							> a{
								display:block;
								padding:0 10px;
								font-size:14px;
								color:#666;
								line-height:24px;
								box-sizing:border-box;
								&:hover,
								&:focus{
									color:#699fd0;
								}
							}
						}
					}
				}
			}
		}
	}
}

.location{
	width:1600px;
	margin:auto;
	> div{
		height:41px;
		background:#f9f9f9;
		display:inline-block;
		vertical-align:top;
		> a{
			float:left;
			background:#7c9dbc url(#{$img-common}bg_home.png) no-repeat;
			width:56px;
			height:41px;
			font-size:0;
			&:hover,
			&:focus,
			&:active{
				background-color:#ff904b;
				background-image:url(#{$img-common}bg_home.png);
			}
		}
		> ul{
			float:left;
			display:inline-block;
			vertical-align:top;
			> li{
				float:left;
				line-height:41px;
				box-sizing:border-box;
				border-right:1px solid #ccc;
				> button {
					display:block;
					padding-right:50px;
					padding-left:20px;
					height:41px;
					background:url(#{$img-common}bg_select.png) no-repeat right center;
					width:100%;
					text-align:left;
					span{
						line-height:41px;
						display:block;
					}
				}
				&.on{
					button{
						background-image:url(#{$img-common}bg_select_over.png)
					}
				}
				> ul {
					visibility:hidden;
					border:none;
					background:#fff;
					position:absolute;
					width:100%;
					z-index:1;
					margin-left:-1px;
					border:1px solid #ccc;
					li{
						&:first-child{
							a{
								span{
									border-top:none;
								}
							}
						}
						a{
							display:block;
							padding:0 20px;
							&:hover,
							&:focus{
								> span{
									color:#7c9dbc;
								}
							}
							> span{
								// display:block;
								font-size:14px;
								color:#666;
								line-height:40px;
								border-top:1px solid #ccc;
							}
						}
					}
				}
			}
			.home{

			}
			.last{
				> button{
					color:$color2;
				}
			}
		}
	}
}
.contentsTop{
	background:#fff;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	h2{
		line-height:62px;
		box-sizing:border-box;
		width:1600px;
		margin:auto;
	}
}
#contents{
	width:1600px;
	padding-bottom:60px;
	margin:auto;
	box-sizing:border-box;
	min-height:400px;
}
.contentsArea{
	width:100%;
	display:inline-block;
	vertical-align:top;
	> div{
		box-sizing:border-box;
		float:left;
		box-sizing:border-box;
		padding-left:15px;
		&:first-child{
			padding-right:15px;
			padding-left:0;
		}
	}
	&.col2{
		> div {
			width:50%;
		}

	}
	&.col3{
		> div {
			width:33%;
			&:nth-of-type(2){
				width:34%;
				padding-right:15px;
			}
		}

	}
}
#footer{
	border-top:2px solid #ccc;
	border-bottom:3px solid #f2f5f8;
	background:#e5e5e5;
	> div{
		position:relative;
		width:1600px;
		padding:20px 0 35px;
		margin:auto;
		.logoKsa{
			display:inline-block;
			width:148px;
			height:40px;
			margin-top:8px;
		}
		.info{
			margin-left:20px;
			display:inline-block;
			> ul{
				>li{
					display:inline-block;
					padding-right:5px;
					padding-left:7px;
					margin-left:5px;
					border-left:1px solid #666;
					height:11px;
					line-height:11px;
					font-size:12px;
					color:#666;
					&:first-child{
						padding:0;
						margin:0;
						border:0;
					}
				}
			}
			address{
				display:block;
				font-size:12px;
				margin:5px 0;
				font-style:normal;
			}
		}
		.contact{
			position:absolute;
			right:0;
			top:30px;
			padding-left:45px;
			background:#7c9dbc url(#{$img-common}bg_contact.png) no-repeat 20px 10px;
			font-size:12px;
			height:40px;
			line-height:40px;
			color:#fff;
			&:hover,
			&:focus{
				background:#ff903b url(#{$img-common}bg_contact.png) no-repeat 20px 10px;
				transition:all 0.3s;
				border:1px solid #ff904b;
				color:#fff;
			}
		}
	}
}



